$fonts-path: '../fonts/';

@font-face {
  font-family:'Montserrat';
  src: url('#{$fonts-path}Montserrat Light.eot');
  src: url('#{$fonts-path}Montserrat Light.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts-path}Montserrat Light.woff2') format('woff2'),
  url('#{$fonts-path}Montserrat Light.woff') format('woff'),
  url('#{$fonts-path}Montserrat Light.ttf') format('truetype'),
  url('#{$fonts-path}Montserrat Light.svg#Montserrat Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FB02;
}

@font-face {
  font-family:'Montserrat';
  src: url('#{$fonts-path}Montserrat Regular.eot');
  src: url('#{$fonts-path}Montserrat Regular.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts-path}Montserrat Regular.woff2') format('woff2'),
  url('#{$fonts-path}Montserrat Regular.woff') format('woff'),
  url('#{$fonts-path}Montserrat Regular.ttf') format('truetype'),
  url('#{$fonts-path}Montserrat Regular.svg#Montserrat Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FB02;
}

@font-face {
  font-family:'Montserrat';
  src: url('#{$fonts-path}Montserrat Medium.eot');
  src: url('#{$fonts-path}Montserrat Medium.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts-path}Montserrat Medium.woff2') format('woff2'),
  url('#{$fonts-path}Montserrat Medium.woff') format('woff'),
  url('#{$fonts-path}Montserrat Medium.ttf') format('truetype'),
  url('#{$fonts-path}Montserrat Medium.svg#Montserrat Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FB02;
}

@font-face {
  font-family:'Montserrat';
  src: url('#{$fonts-path}Montserrat SemiBold.eot');
  src: url('#{$fonts-path}Montserrat SemiBold.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts-path}Montserrat SemiBold.woff2') format('woff2'),
  url('#{$fonts-path}Montserrat SemiBold.woff') format('woff'),
  url('#{$fonts-path}Montserrat SemiBold.ttf') format('truetype'),
  url('#{$fonts-path}Montserrat SemiBold.svg#Montserrat SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FB02;
}

@font-face {
  font-family:'Montserrat';
  src: url('#{$fonts-path}Montserrat Bold.eot');
  src: url('#{$fonts-path}Montserrat Bold.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts-path}Montserrat Bold.woff2') format('woff2'),
  url('#{$fonts-path}Montserrat Bold.woff') format('woff'),
  url('#{$fonts-path}Montserrat Bold.ttf') format('truetype'),
  url('#{$fonts-path}Montserrat Bold.svg#Montserrat Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FB02;
}

@font-face {
  font-family:'Montserrat';
  src: url('#{$fonts-path}Montserrat Black.eot');
  src: url('#{$fonts-path}Montserrat Black.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts-path}Montserrat Black.woff2') format('woff2'),
  url('#{$fonts-path}Montserrat Black.woff') format('woff'),
  url('#{$fonts-path}Montserrat Black.ttf') format('truetype'),
  url('#{$fonts-path}Montserrat Black.svg#Montserrat Black') format('svg');
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FB02;
}

@font-face {
  font-family:'Playfair Display SC';
  src: url('#{$fonts-path}Playfair Display SC Regular.eot');
  src: url('#{$fonts-path}Playfair Display SC Regular.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts-path}Playfair Display SC Regular.woff2') format('woff2'),
  url('#{$fonts-path}Playfair Display SC Regular.woff') format('woff'),
  url('#{$fonts-path}Playfair Display SC Regular.ttf') format('truetype'),
  url('#{$fonts-path}Playfair Display SC Regular.svg#Playfair Display SC Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FB02;
}