@import 'mixins';
@import 'variables';

/***********************************************************
*************************** RESET **************************
***********************************************************/
* {
  box-sizing: border-box;

  &:before, &:after {
    box-sizing: border-box;
  }
}

html, body {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  font-family: $font-family-base;
  font-size: $font-size-default;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block;
}

section {
  position: relative;
}

a {
  outline: none;
  color: $text-color;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  @include transition($transition-base);
  &:hover {
    //text-decoration: underline;
  }
  &:active,
  &:focus,
  &:hover,
  &:link,
  &:visited {
    outline: 0;
  }
}

blockquote, q {
  quotes: none;

  &:before,
  &:after {
    content: none;
  }
}

table {
  width: 100%;
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  border-spacing: 0;
  border-width: 0;
}

td {
  margin: 0;
  padding: 0;
  vertical-align: top;
  img {
    vertical-align: top;
  }
}

//form elements
form {
  padding: 0;
  margin: 0;
}

button, input, textarea {
  border: 1px solid #333;
  border-radius: 0;
  box-sizing: border-box;
  color: black;
  outline: none;
  overflow: auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: $transition-base;

  &[disabled] {
    cursor: not-allowed;
  }

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
}

::-webkit-input-placeholder {
  font-weight: $font-weight-light;
  font-size: 1rem;
  color: $input-placeholder-color;
  transition: $transition-base;
}

::-webkit-textarea-placeholder {
  font-weight: $font-weight-light;
  font-size: 1rem;
  color: $input-placeholder-color;
  transition: $transition-base;
}

input {
  transition: $transition-base;

  &[type="text"], &[type="email"], &[type="password"], &[type="number"], &[type="tel"], &[type="search"], &[type="datetime"], &[type="url"] {
    cursor: auto;
    padding: 0 5px;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;

    &:focus {
      background: none;

      &::-webkit-input-placeholder {
        color: transparent;
        transform: rotate3d(1, 0, 0, 90deg);
      }
      &::-moz-placeholder {
        color: transparent;
        transform: rotate3d(1, 0, 0, 90deg);
      }
      &::-ms-placeholder {
        color: transparent;
        transform: rotate3d(1, 0, 0, 90deg);
      }
    }
  }
  &[type="button"], &[type="checkbox"], &[type="image"], &[type="radio"], &[type="reset"], &[type="submit"] {
    &:not(disabled) {
      cursor: pointer;
    }
  }
  &[type="button"], &[type="submit"], &[type="reset"], &[type="image"] {
    -webkit-appearance: button;
    -moz-appearance: button;
  }
  &[type="checkbox"], &[type="radio"] {
    padding: 0;
  }
  &[type="file"], &[type="color"], &[type="image"], &[type="range"] {
    border: none;
  }
  &[type="search"] {
    &::-webkit-search-cancel-button, &::-webkit-search-decoration {
      -webkit-appearance: none;
      -moz-appearance: none;
    }
  }

  &::-moz-placeholder {
    font-weight: $font-weight-light;
    font-size: 1rem;
    color: $input-placeholder-color;
    transition: $transition-base;
  }
  &::-ms-placeholder {
    font-weight: $font-weight-light;
    font-size: 1rem;
    color: $input-placeholder-color;
    transition: $transition-base;
  }
}

button {
  transition: $transition-base;
}

textarea {
  padding: 0 5px;

  &:focus {
    background: none;

    &::-webkit-input-placeholder {
      color: transparent;
      transform: rotate3d(1, 0, 0, 90deg);
    }
    &::-moz-placeholder {
      color: transparent;
      transform: rotate3d(1, 0, 0, 90deg);
    }
    &::-ms-placeholder {
      color: transparent;
      transform: rotate3d(1, 0, 0, 90deg);
    }
  }

  &::-moz-placeholder {
    font-weight: $font-weight-light;
    font-size: 1rem;
    color: $input-placeholder-color;
    transition: $transition-base;
  }
  &::-ms-placeholder {
    font-weight: $font-weight-light;
    font-size: 1rem;
    color: $input-placeholder-color;
    transition: $transition-base;
  }
}

//end form elements

hr {
  height: 1px;
  padding: 0;
  border: none;
  margin: 20px auto;
  background: #000;
}

mark {
  color: #000;
  background: #ff0;
}

pre {
  margin: 1em 0;
  padding: 15px;
  border: 1px solid #555;
  border-radius: 5px;
  white-space: pre-line;
  background: #efefef;
  word-wrap: break-word;
}

code, kbd, pre, samp {
  font-family: 'courier new', monospace, serif;
  font-size: 1em;
}

small {
  font-size: 80%;
}

big {
  font-size: 125%;
}

sub, sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -.5em;
  left: -0.3em;
}

sub {
  bottom: -.25em;
  left: -0.3em;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help
}

ins, u {
  text-decoration: underline;
}

del, s {
  text-decoration: line-through;
}

dl, menu {
  margin: 1em 0 1em 1em;
  list-style: none;
}

dd + dt {
  margin-top: 1em;
}

dd {
  margin: 0 0 0 40px;
}

nav ol, nav ul, ol, ul {
  list-style: none;
}

::selection {
  text-shadow: none;
  color: $text-color;
  background: $main-first-color;
}

::-moz-selection {
  text-shadow: none;
  color: $text-color;
  background: $main-first-color;
}

::-ms-selection {
  text-shadow: none;
  color: $text-color;
  background: $main-first-color;
}