.loaded {
  .main-wrapper {
    display: none;
  }

  .icon-load {
    display: block;
  }
}

.icon-load {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 160px;
  height: 160px;

  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.main-wrapper {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;

  min-width: 320px;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.row {
  &:after {
    display: none;
  }

  &.clearfix:after {
    display: block;
  }
}

.section {
  position: relative;
}

.section-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
  z-index: -1;

  &:after {
    content: '';
    @extend .section-bg;
    opacity: .8;
    @extend %gradient;
    z-index: 0;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.main-title {
  margin-bottom: 30px;
  font-size: 6.5rem;
  font-weight: $font-weight-light;
  line-height: .95;
  @extend %gradient-text;
}

.title {
  position: relative;
  //margin: 0 152px;
  font-weight: $font-weight-normal;
  font-size: 3.611rem;
}

.button {
  display: inline-block;
  //min-width: 300px;
  height: 68px;
  border: none;
  border-radius: 100px;
  padding: 22px 80px;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  text-decoration: none !important;
  text-transform: uppercase;
  vertical-align: middle;
  background: #ffffff;
  box-shadow: inset 0 -4px 0px rgba(0, 0, 0, 0.12);
  @include transition();

  &-primary {
    background: $main-first-color;
    box-shadow: 0 34px 64px rgba(185, 177, 164, 0.7), inset 0 -4px 0 rgba(0, 0, 0, 0.17);
  }
  &-secondary {
    color: #134424;
    @extend %gradient;
    box-shadow: 0 34px 32px rgba(201, 189, 171, 0.7), inset 0 -4px 0px rgba(0, 0, 0, 0.17);;
  }
  &-light {
    color: #444444;
  }
  &-violet {
    color: $main-third-color;
  }
  &-green {
    color: #329627;
    background: #fff;
    background: -moz-linear-gradient(-45deg,  #fff 15%, #fff 85%);
    background: -webkit-linear-gradient(-45deg,  #fff 15%,#fff 85%);
    background: linear-gradient(135deg,  #fff 15%,#fff 85%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#fff',GradientType=1 );
  }
  &-square {
    border: 1px solid $main-third-color;
    border-radius: 0;
    box-shadow: none;
    color: $main-third-color;
    background: none;
  }

  &:hover {
    &.button {
      //color: inherit !important;

      &-primary {
        color: #ffffff;
        box-shadow: 0px 31px 64px #CEAE7D, inset 0px -4px 0px rgba(0, 0, 0, 0.12);
      }
      &-secondary {
        color: #134424;
        box-shadow: 0 34px 64px rgba(111, 227, 64, 0.6), inset 0 -4px 0 rgba(0, 0, 0, 0.17);
      }
      &-light {
        color: #ffffff;
        background: #444444;
      }
      &-violet {
        color: #ffffff;
        background: $main-third-color;
      }
      &-green {
        color: #ffffff;
        @extend %gradient;
      }
      &-square {
        color: #ffffff;
        background: $main-third-color;
        transform: none;
      }
    }
  }

  &:active {
    box-shadow: inset 0 -1px 0px rgba(0, 0, 0, 0.12);
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -o-transform: translateY(2px);
    transform: translateY(2px);

    &.button {
      &-primary {
        box-shadow: 0px 31px 64px rgba(206, 174, 125, 0.5), inset 0px -1px 0px rgba(0, 0, 0, 0.12);
      }
      &-secondary {
        box-shadow: 0px 26px 64px rgba(111, 227, 64, 0.6), inset 0px -1px 0px rgba(0, 0, 0, 0.17);
      }
      &-square {
        box-shadow: none;
        transform: none;
      }
    }
  }
}

.input {
  max-height: 68px;
  padding: 17px 40px !important;
  border: none;
  border-radius: 100px;
  color: $text-color;
  font-size: 1.444rem;
  font-weight: $font-weight-medium;
  box-shadow: 0px 40px 92px rgba(201, 189, 171, 0.7);
}

.slick-slider {
  .slick-arrow {
    position: absolute;
    top: 50%;
    width: 89px;
    height: 89px;
    background: rgba(3, 3, 3, .3);
    border: none;
    border-radius: 100%;
    color: #ffffff;
    transform: translateY(-50%);
    z-index: 1;

    &.slick-prev {
      left: 22px;
    }
    &.slick-next {
      right: 22px;
    }
  }

  .slick-dots {
    margin: 0;
    padding: 35px 0 0;
    text-align: center;

    li {
      display: inline-block;
      height: 14px;
      margin: 0 10px;

      button {
        width: 14px;
        height: 14px;
        border: none;
        border-radius: 100%;
        padding: 0;
        font-size: 0;
        vertical-align: top;
        background: #B0B0B0;
        @include transition();
      }

      &.slick-active {
        button {
          background: #b6f173;
          background: -moz-linear-gradient(135deg, #b6f173 0%, #84d078 90%);
          background: -webkit-linear-gradient(135deg, #b6f173 0%, #84d078 90%);
          background: linear-gradient(135deg, #b6f173 0%, #84d078 90%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b6f173', endColorstr='#84d078', GradientType=1);
          -webkit-box-shadow: 0 0 0 2px #fff;
          -moz-box-shadow: 0 0 0 2px #fff;
          box-shadow: 0 0 0 2px #fff;
        }
      }
    }
  }
}

.breadcrumb {
  text-align: center;

  &__item {
    font-weight: $font-weight-medium;

    &:not(:first-child) {
      display: none;
    }

    &:before {
      content: '← ';
    }
  }

  &__text {
    border-bottom: 1px solid rgba(0, 0, 0, 0.33);
    padding-bottom: 6px;
  }
}

.font-weight-medium {
  font-weight: 500 !important;
}
.font-weight-sbold {
  font-weight: 600 !important;
}

%gradient {
  background: #b6f173;
  background: -moz-linear-gradient(-45deg,  #b6f173 15%, #84d078 85%);
  background: -webkit-linear-gradient(-45deg,  #b6f173 15%,#84d078 85%);
  background: linear-gradient(135deg,  #b6f173 15%,#84d078 85%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6f173', endColorstr='#84d078',GradientType=1 );
}

%gradient-text {
  @extend %gradient;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @include transition();
}

//Scroll to top animation
@keyframes bounceInUpArrow {
  from {
    top: 50%;
  }
  50% {
    top: 35%;
  }
  to {
    top: 50%;
  }
}