.loaded {
  .main-wrapper {
    display: none;
  }

  .icon-load {
    display: block;
  }
}

.icon-load {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 160px;
  height: 160px;

  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.main-wrapper {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;

  min-width: 320px;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.row {
  &:after {
    display: none;
  }

  &.clearfix:after {
    display: block;
  }
}

.section {
  position: relative;
}

.section-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  &:after {
    content: '';
    @extend .section-bg;
    opacity: .25;
    //background: $main-first-color-custom;
    z-index: 0;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.title {
  font-weight: $font-weight-normal;
  font-size: 2.5rem;
}

.font-weight-medium {
  font-weight: 500 !important;
}

.font-weight-sbold {
  font-weight: 600 !important;
}