.loaded {
  .main-wrapper {
    display: none;
  }

  .icon-load {
    display: block;
  }
}

.icon-load {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 160px;
  height: 160px;

  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.main-wrapper {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;

  min-width: 320px;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.open-modal {
  padding-right: 17px;
}

.row {
  &:after {
    display: none;
  }

  &.clearfix:after {
    display: block;
  }
}

.section {
  position: relative;
}

.section-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
  z-index: -1;

  &:after {
    content: '';
    @extend .section-bg;
    opacity: .8;
    @extend %gradient;
    z-index: 0;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.main-title {
  //margin-bottom: 30px;
  font-size: 6.5rem;
  font-weight: $font-weight-light;
  @extend %gradient-text;
}

.title {
  position: relative;
  //margin: 0 152px;
  font-weight: $font-weight-normal;
  font-size: 3.611rem;
  text-align: left;
}

.button {
  display: inline-block;
  //min-width: 300px;
  height: 68px;
  border: none;
  border-radius: 100px;
  padding: 22px 80px;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  text-decoration: none !important;
  text-transform: uppercase;
  vertical-align: middle;
  background: #ffffff;
  box-shadow: inset 0 -4px 0px rgba(0, 0, 0, 0.12);
  @include transition();

  &:disabled {
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
    background: #d6d6d6;
    background: -moz-radial-gradient(center, ellipse cover,  #d6d6d6 0%, #c6c6c6 100%);
    background: -webkit-radial-gradient(center, ellipse cover,  #d6d6d6 0%,#c6c6c6 100%);
    background: radial-gradient(ellipse at center,  #d6d6d6 0%,#c6c6c6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#c6c6c6',GradientType=1 );
  }

  &-primary {
    background: $main-first-color;
    box-shadow: 0 34px 64px rgba(185, 177, 164, 0.7), inset 0 -4px 0 rgba(0, 0, 0, 0.17);
  }
  &-secondary {
    color: #134424;
    @extend %gradient;
    box-shadow: 0 34px 32px rgba(201, 189, 171, 0.7), inset 0 -4px 0px rgba(0, 0, 0, 0.17);;
  }
  &-light {
    color: #444444;
  }
  &-violet {
    color: $main-third-color;
  }
  &-green {
    color: #329627;
    background: #fff;
    background: -moz-linear-gradient(-45deg, #fff 15%, #fff 85%);
    background: -webkit-linear-gradient(-45deg, #fff 15%, #fff 85%);
    background: linear-gradient(135deg, #fff 15%, #fff 85%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#fff', GradientType=1);
  }
  &-square {
    border: 1px solid $main-third-color;
    border-radius: 0;
    box-shadow: none;
    color: $main-third-color;
    background: none;
  }

  &:hover {
    &.button {
      //color: inherit !important;

      &-primary {
        color: #ffffff;
        box-shadow: 0px 31px 64px #CEAE7D, inset 0px -4px 0px rgba(0, 0, 0, 0.12);
      }
      &-secondary {
        color: #134424;
        box-shadow: 0 34px 64px rgba(111, 227, 64, 0.6), inset 0 -4px 0 rgba(0, 0, 0, 0.17);
      }
      &-light {
        color: #ffffff;
        background: #444444;
      }
      &-violet {
        color: #ffffff;
        background: $main-third-color;
      }
      &-green {
        color: #ffffff;
        @extend %gradient;
      }
      &-square {
        color: #ffffff;
        background: $main-third-color;
        transform: none;
      }
    }
  }

  &:active {
    box-shadow: inset 0 -1px 0px rgba(0, 0, 0, 0.12);
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -o-transform: translateY(2px);
    transform: translateY(2px);

    &.button {
      &-primary {
        box-shadow: 0px 31px 64px rgba(206, 174, 125, 0.5), inset 0px -1px 0px rgba(0, 0, 0, 0.12);
      }
      &-secondary {
        box-shadow: 0px 26px 64px rgba(111, 227, 64, 0.6), inset 0px -1px 0px rgba(0, 0, 0, 0.17);
      }
      &-square {
        box-shadow: none;
        transform: none;
      }
    }
  }
}

input.input {
  max-height: 68px;
  padding: 17px 30px !important;
  border: none;
  border-radius: 100px;
  color: $text-color;
  font-size: 1.444rem;
  font-weight: $font-weight-medium;
  box-shadow: 0px 40px 92px rgba(201, 189, 171, 0.7);
}

.slick-slider {
  .slick-arrow {
    position: absolute;
    top: 50%;
    width: 89px;
    height: 89px;
    background: rgba(3, 3, 3, .3);
    border: none;
    border-radius: 100%;
    color: #ffffff;
    font-size: 0;
    transform: translateY(-50%);
    z-index: 1;

    &:before, &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 3px;
      height: 20px;
      background: #fff;
    }
    &:before {
      top: 43%;
    }
    &:after {
      top: 57%
    }

    &.slick-prev {
      left: 22px;

      &:before {
        transform: translate(-50%, -50%) rotate(45deg);
      }
      &:after {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
    &.slick-next {
      right: 22px;

      &:before {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
      &:after {
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }
  }

  .slick-list {
    overflow: visible;
  }

  .slick-slide {
    opacity: 0;
    @include transition();

    &.slick-active {
      opacity: 1;
    }
  }

  .slick-dots {
    margin: 0;
    padding: 35px 0 0;
    text-align: center;

    li {
      display: inline-block;
      height: 14px;
      margin: 0 10px;

      button {
        width: 14px;
        height: 14px;
        border: none;
        border-radius: 100%;
        padding: 0;
        font-size: 0;
        vertical-align: top;
        background: #B0B0B0;
        @include transition();
      }

      &.slick-active {
        button {
          background: #b6f173;
          background: -moz-linear-gradient(135deg, #b6f173 0%, #84d078 90%);
          background: -webkit-linear-gradient(135deg, #b6f173 0%, #84d078 90%);
          background: linear-gradient(135deg, #b6f173 0%, #84d078 90%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b6f173', endColorstr='#84d078', GradientType=1);
          -webkit-box-shadow: 0 0 0 2px #fff;
          -moz-box-shadow: 0 0 0 2px #fff;
          box-shadow: 0 0 0 2px #fff;
        }
      }
    }
  }
}

.breadcrumb {
  text-align: center;

  &__item {
    font-weight: $font-weight-medium;

    &:not(:first-child) {
      display: none;
    }

    &:before {
      content: '← ';
    }
  }

  &__text {
    border-bottom: 1px solid rgba(0, 0, 0, 0.33);
    padding-bottom: 6px;
  }
}

.main-tabs.ui-tabs {
  .ui-tabs-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0;

    &:before {
      content: none;
    }

    li {
      &.main-tabs__tab {
        top: auto;
        max-height: 98px;
        float: none;
        margin: 0;
        border: 0;
        -webkit-border-radius: 45px 0;
        -moz-border-radius: 45px 0;
        border-radius: 45px 0;
        padding: 10px 30px;

        &:hover {
          text-shadow: 0 3px 64px $main-second-color;
        }

        .ui-tabs-anchor {
          position: relative;
          border-bottom: 3px dashed #fff;
          padding: 0;
          color: #fff;
          font-size: 3.611em;
          line-height: 1;
        }
        &.ui-tabs-active {
          background: #ffffff;
          box-shadow: 0px 63px 92px #12894B;

          .ui-tabs-anchor {
            border: none;
            @extend %gradient-text;
          }
        }

        &_first {
          .ui-tabs-anchor {
            border-bottom: 3px dashed $main-second-color !important;
            @extend %gradient-text;
          }

          &.ui-tabs-active {
            @extend %gradient;
            box-shadow: 0px 63px 92px rgba(201, 189, 171, 0.7);
            .ui-tabs-anchor {
              -webkit-text-fill-color: #ffffff !important;
            }
          }
        }
      }

      &:nth-child(2) {
        margin: 0 55px;
        font-size: 1.5em;
      }
    }
  }

  .tab-switch {
    display: block;
    max-width: max-content;
    margin: 0 auto;
    border-bottom: 3px dashed $main-third-color;
    color: $main-third-color;
    font-size: 1.944em;
    font-weight: $font-weight-medium;
  }
}

.ui-datepicker {
  border: 1px solid $main-first-color;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  background: #ffffff;
  z-index: 105 !important;

  .ui-datepicker {
    &-header {
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      border-radius: 12px;
      background: #f5f4f3;
    }
    &-prev, &-next {
      background: none !important;
      cursor: pointer;
      span {
        display: inline-block;
        height: auto;
        overflow: visible;
        line-height: 0;
      }
    }
    &-prev {
      span {
        border-right: 8px solid #939393;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
      }
    }
    &-next {
      span {
        border-left: 8px solid #939393;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
      }
    }
  }

  td {
    span, a {
      text-align: center;
    }
  }

  .ui-state-disabled {
    opacity: .3;
    cursor: not-allowed !important;
  }

  .ui-state-default {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    border: 1px solid #939393;
    border-radius: 100%;
    padding: 9px;

    &.ui-state-highlight {
      border-color: $main-first-color;
      background: $main-first-color;
    }

    &.ui-state-active {
      border-color: $main-second-color;
      color: #ffffff;
      @extend %gradient;
    }
  }

  .ui-state-hover {
    background: $main-second-color;
    border-color: $main-second-color;
    color: $text-color;
  }
}

.ui-selectmenu {
  &-button {
    &-closed {
      border-radius: 40px;
    }
    &-open {
      border-radius: 40px 40px 0 0;

      .ui-selectmenu-icon {
        transform: translateY(-50%) rotate3d(1, 0, 0, 180deg);
      }
    }

    &.ui-button {
      position: relative;
      width: 100%;
      max-width: 440px;
      max-height: 68px;
      padding: 21px 55px 21px 25px;
      outline: none !important;
      background: #fff;
      @include transition();
    }
  }

  &-text {
    font-size: 1.444em;
    font-weight: $font-weight-medium;
    line-height: 1;
  }

  &-icon {
    position: absolute;
    top: 50%;
    right: 24px;
    width: 22px;
    overflow: visible;
    transform: translateY(-50%);
    @include transition();

    &:before, &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      width: 14px;
      height: 3px;
      border-radius: 20px;
      background: #000000;
      transform: rotate(45deg);
    }

    &:after {
      left: auto;
      right: 0;
      transform: rotate(-45deg);
    }
  }

  &-menu {
    border-radius: 0 0 40px 40px;
    background: #ffffff;
    overflow: hidden;
    z-index: 105 !important;
  }
}

.ui-menu {
  .ui-menu-item {
    &-wrapper {
      max-height: 73px;
      margin: 0 !important;
      padding: 20px 30px;
      font-size: 1.444em;
      font-weight: $font-weight-medium;
    }
  }

  .ui-state-active {
    background: $main-third-color;
    color: #ffffff;
  }
}

.font-weight-medium {
  font-weight: 500 !important;
}

.font-weight-sbold {
  font-weight: 600 !important;
}

.text-pre-line {
  white-space: pre-line;
}

.modal {
  padding: 0 !important;
  z-index: 105;

  &-backdrop {
    z-index: 104;
  }

  &-content {
    .close {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 20px;
      height: 20px;
      border: none;
      padding: 0;
      color: rgba(0, 0, 0, .3);
      font-size: 40px;
      line-height: 0.5;
      background: none;
    }
  }

  input.input {
    margin-bottom: 18px;
    padding: 17px 20px !important;
  }

  .callback {
    &__title {
      color: #000000;
      font-size: 2em;
    }

    &__text {
      width: 20%;
    }

    &__form {
      width: 80%;

      &-hide {
        height: auto;
        margin-bottom: 18px;
      }

      .datepicker {
        max-width: 260px;
        padding-right: 60px !important;
      }

      .ui-selectmenu-button.ui-button {
        max-width: 380px;
        padding: 21px 45px 21px 20px;
      }

      svg {
        right: 25px;
      }
    }
  }
}

%gradient {
  background: #b6f173;
  background: -moz-linear-gradient(-45deg, #b6f173 15%, #84d078 85%);
  background: -webkit-linear-gradient(-45deg, #b6f173 15%, #84d078 85%);
  background: linear-gradient(135deg, #b6f173 15%, #84d078 85%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b6f173', endColorstr='#84d078', GradientType=1);
}

%gradient-text {
  @extend %gradient;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @include transition();
}

//Scroll to top animation
@keyframes bounceInUpArrow {
  from {
    top: 50%;
  }
  50% {
    top: 35%;
  }
  to {
    top: 50%;
  }
}