/*************************************************
********************* CONTENT ********************
*************************************************/
.content {
  position: relative;
  order: 2;
  -webkit-order: 2;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  min-width: 320px;
  z-index: 10;
}

.scroll-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 59px;
  height: 59px;
  border: none;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  outline: none !important;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  font-size: 0;
  box-shadow: 0 12px 32px rgba(75, 73, 70, 0.24);
  background: #F5F4F3;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
  @include transition($transition-base, transform .3s ease-in-out .3s);
  z-index: 101;

  &:before, &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 4px;
    background: #000000;
    @include transition();
  }
  &:before {
    left: calc(50% - 8px);
    transform: translate(-50%, -50%) rotate(-30deg);
  }
  &:after {
    left: calc(50% + 8px);
    transform: translate(-50%, -50%) rotate(30deg);
  }
  &:hover:before, &:hover:after {
    background: #ffffff;
    -webkit-animation: .8s ease-in-out 0s 1 alternate bounceInUpArrow;
    -o-animation: .8s ease-in-out 0s 1 alternate bounceInUpArrow;
    animation: .8s ease-in-out 0s 1 alternate bounceInUpArrow;
  }

  &__background {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    @extend %gradient;
    z-index: -1;
    @include transition();
  }
  &:hover .scroll-top__background {
    opacity: 1;
    visibility: visible;
  }

  &.active {
    opacity: 1;
    visibility: visible;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
    will-change: auto;
  }
}

.background-site {
  position: absolute;
  top: 140px;
  width: 100%;
  height: 100%;

  .elem {
    position: absolute;
    &-1 {
      right: -9%;
    }

    &-2 {
      top: 850px;
      left: -15%;
    }
  }
}

// Main
.main-section {
  .title span {
    position: absolute;
    display: block;
    max-width: 320px;
    padding: 0 43px 23px;
    font-family: $font-family-unique;
    font-size: 1.778rem;
    text-align: center;
    background: #f5f4f3;
    z-index: 1;
  }
}

.main-slider {
  &__box {
    img {
      width: 100%;
      height: 530px;
      object-fit: cover;
      object-position: center;
    }

    p {
      margin: -220px 0 0 113px;
      padding-bottom: 15px;
      font-size: 6.5em;
      line-height: 117px;
      white-space: pre-line;
      background: #f5f4f3;
      -webkit-box-shadow: 0 63px 92px rgba(148, 189, 133, .44);
      -moz-box-shadow: 0 63px 92px rgba(148, 189, 133, .44);
      box-shadow: 0 63px 92px rgba(148, 189, 133, .44);

      span {
        position: relative;
        padding: 0 40px;
        @extend %gradient-text;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: #f5f4f3;
          z-index: -1;
        }

        &:first-child {
          z-index: 1;
        }
      }
    }
  }

  .slick-list {
    overflow: visible;
  }

  .slick-slide {
    opacity: 0;
    visibility: hidden;
    @include transition();

    &.slick-current {
      opacity: 1;
      visibility: visible;
    }
  }

  .slick-dots {
    margin: 0;
    padding: 32px 0 0 160px;

    li {
      display: inline-block;
      height: 14px;
      margin: 0 10px;

      button {
        width: 14px;
        height: 14px;
        border: none;
        border-radius: 100%;
        padding: 0;
        font-size: 0;
        vertical-align: top;
        background: #B0B0B0;
        @include transition();
      }

      &.slick-active {
        button {
          background: #b6f173;
          background: -moz-linear-gradient(135deg, #b6f173 0%, #84d078 90%);
          background: -webkit-linear-gradient(135deg, #b6f173 0%, #84d078 90%);
          background: linear-gradient(135deg, #b6f173 0%, #84d078 90%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b6f173', endColorstr='#84d078', GradientType=1);
          -webkit-box-shadow: 0 0 0 2px #fff;
          -moz-box-shadow: 0 0 0 2px #fff;
          box-shadow: 0 0 0 2px #fff;
        }
      }
    }
  }
}

// Land
.land-section {
  padding: 106px 0 0 0;

  .title {
    margin: 0 0 76px;
  }

  .row hr {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    background: #fff;
  }
}

.decoration-icon-list {
  padding-left: 120px;

  li {
    position: relative;
    padding-left: 20px;
    font-size: 1.444rem;
    font-weight: 500;
    line-height: 32px;
    &:not(:last-child) {
      margin-bottom: 35px;
    }

    svg {
      position: absolute;
      top: 50%;
      right: 100%;
      width: 45px;
      height: 45px;
      fill: #fff;
      transform: translateY(-50%);
    }
  }
}

.decoration-list {
  margin-bottom: 66px;

  li {
    font-size: 1.444rem;
    font-weight: 500;
    line-height: 55px;

    &:before {
      content: '— ';
      @extend %gradient-text;
    }
  }
}

.decoration-icon-list {
  margin-bottom: 120px;
}

.decoration-list {
  margin-bottom: 81px;
}

// Houses
.houses-section {
  .title {
    color: #ffffff;
    margin-bottom: 90px;
  }
}

.house-list {
  &__box {
    position: relative;
    display: block;
    max-width: 330px;
    height: 100%;
    margin: 0 auto;
    text-decoration: none !important;

    picture {
      position: relative;
      display: block;
      margin-bottom: 35px;
    }

    img {
      width: 100%;
      @include transition();
      clip-path: polygon(0% 18px, 18px 18px, 18px 0%, 312px 0%, 312px 18px, 100% 18px, 100% 216px, 312px 216px, 312px 100%, 18px 100%, 18px 216px, 0% 216px);
    }
    &-name {
      position: relative;
      margin-bottom: 10px;
      padding-right: 60px;
      font-size: 1.222rem;
      font-weight: 600;

      &:after {
        content: attr(data-value);
        position: absolute;
        top: 50%;
        right: 0;
        color: $text-color;
        font-size: 1rem;
        font-weight: 500;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }
    &-price {
      color: $text-color;
      span {
        color: #7000ff;
        font-weight: 700;
      }
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0%;
      height: 1px;
      background: #aaaaaa;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      @include transition();
    }

    &:hover {
      img {
        //margin-bottom: 40px;
        box-shadow: 0 0 0 6px #a8e874;
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
      }

      &:after {
        width: 100%;
      }
    }
  }
}

// Infrastructure
.infrastructure-section {
  padding: 0 0 90px;

  .container {
    padding-top: 50px;
    //padding-bottom: 80px;
    border-radius: 12px;
    box-shadow: 0 34px 63px rgba(104, 158, 34, 0.4);
  }

  .title {
    margin-bottom: 65px;
    color: #ffffff;

    svg {
      position: absolute;
      top: 50%;
      right: calc(100% + 45px);
      width: 64px;
      height: 64px;
      fill: #fff;
      transform: translateY(-50%);
    }
  }

  .button {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.inf {
  &__box {
    margin-bottom: 80px;

    img {
      display: block;
      width: 220px;
      height: 220px;
      border: 5px solid transparent;
      border-radius: 100%;
      object-fit: cover;
      object-position: center;
      margin: 0 auto 40px;
      box-shadow: 0 0 0 2px #fff;
      @include transition();
    }

    p {
      position: relative;
      padding: 25px 60px 0;
      color: #fff;
      font-size: 24px;
      font-weight: 600;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, .35);

      &:before {
        content: '';
        position: absolute;
        top: 0;
        width: 27%;
        height: 5px;
        border-radius: 100px;
        background: #ffffff;
        box-shadow: 0 4px 24px rgba(0, 0, 0, .25);
      }
    }

    &:hover {
      img {
        box-shadow: 0 0 0 6px #fff;
      }
    }
  }
}

// Location
.location-section {
  padding-bottom: 69px;

  .title {
    margin-bottom: 66px;

    svg {
      position: absolute;
      top: 50%;
      right: 110%;
      width: 48px;
      height: 48px;
      fill: $main-second-color;
      transform: translateY(-50%);
    }
  }
}

.location {
  box-shadow: 0 0 64px #C6C0B9;

  &__box {
    width: 25%;

    &:not(:last-child) {
      .location__description:before {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        width: 1px;
        height: 75px;
        background: rgba(0, 0, 0, 0.3);
        transform: translateY(-50%);
      }
    }

    &:hover {
      .location {
        &__description {
          @extend %gradient;
          box-shadow: 0 0 64px #B6F173;
        }

        &__numbers {
          -webkit-text-fill-color: #fff;
        }
      }
    }
  }

  img {
    width: 100%;
    height: 405px;
    object-fit: cover;
    object-position: center;
  }

  &__description {
    position: relative;
    padding: 54px 40px;
    z-index: -1;
    @include transition();
  }

  &__numbers {
    margin-bottom: 26px;
    font-size: 4.722rem;
    font-weight: 300;
    line-height: 1;
    @extend %gradient-text;
  }

  &__text {
    margin: 0;
    font-size: 1.111rem;
    font-weight: 500;
  }
}

// Map
.map-section {}

.map-switcher {
  li {
    margin-bottom: 10px;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__button {
    display: block;
    height: 48px;
    padding: 12px 20px;
    border-radius: 50px;
    font-size: 1.111em;
    font-weight: 500;
    text-decoration: none !important;

    &.active {
      box-shadow: inset 1px -1px 0px #FFFFFF, inset -1px 2px 10px rgba(0, 0, 0, 0.4);
    }

    &:hover {
      color: #ffffff;
      background: $main-first-color;
      box-shadow: none;
    }
  }
}

// Callback
.callback-section {
  padding: 50px 0;
}

.callback {
  img {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    box-shadow: 0 63px 92px rgba(201, 189, 171, .7);
  }

  &__title {
    display: inline-block;
    width: 75%;
    margin: 0;
    padding: 0 0 0 70px;
    color: $main-first-color;
    font-size: 3.611rem;
  }

  &__text {
    display: inline-block;
    width: 15%;
    margin: 0;
    padding: 22px 0 0;
    font-size: 1.556rem;
    font-weight: 500;
    text-align: center;

    span {
      position: relative;
      display: inline-block;
      margin-top: 24px;
      font-family: $font-family-unique;
      font-size: 1rem;
      font-weight: 400;
      white-space: pre-line;

      &:before {
        content: '';
        position: absolute;
        top: -11px;
        left: 50%;
        width: 60px;
        height: 2px;
        border-radius: 10px;
        background: $main-first-color;
        transform: translateX(-50%);
      }
    }
  }

  &__form {
    display: inline-block;
    margin-top: -90px;
    padding: 0 1em;

    label {
      margin: 0 !important;
      vertical-align: top;

      &:not(:last-child) {
        input {
          margin-right: 18px;
        }
      }
    }

    &-switch {
      position: relative;
      margin: 0 50px 46px;
      border: none;
      border-bottom: 2px dashed #aaaaaa;
      padding: 0;
      overflow: visible;
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: calc(100% + 4px);
        display: inline-block;
        margin-top: 2px;
        border-top: 14px solid #939393;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
        transform: translateY(-50%);
        @include transition();
      }

      &.on {
        &:after {
          transform: translateY(-50%) rotate3d(1, 0, 0, 180deg);
        }
      }
    }

    &-hide {
      height: 70px;
      margin-bottom: 43px;
      @include transition();

      &.hide {
        height: 0;
        margin: 0;
        overflow: hidden;
      }
    }

    &-visible {

    }

    &-phone {
      margin-bottom: 26px;
    }

    &-checkbox {
      display: inline-block;
      width: 27px;
      height: 27px;
      margin: 0 14px 0 50px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
      vertical-align: middle;
      background: #ffffff;
      box-shadow: 0px 14px 24px rgba(201, 189, 171, 0.7);
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      &:before {
        content: '';
      }

      &:after {
        content: '';
      }

      & + * {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
    }

    input[type="checkbox"]:checked + .callback__form-checkbox {
      &:before {
        content: '';
        display: inline-block;
        width: 17px;
        height: 17px;
        margin: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        @extend %gradient;
      }

      &:after {
        content: '';
      }
    }

    &-submit {
      vertical-align: top;
    }
  }
}

// Contacts block
.contacts-block {
  padding: 58px 70px 50px;
  background: #fff;

  &__number {
    font-size: 6.722rem;
    font-weight: 300;
    text-decoration: none !important;
  }

  &__social {
    &-text {
      display: inline-block;
      margin: 0;
      color: $main-first-color;
      font-size: 3.056rem;
      font-weight: 600;
      white-space: pre-line;

      &:after {
        content: '';
        display: inline-block;
        width: 135px;
        height: 5px;
        margin: 0 25px;
        vertical-align: middle;
        background: #f9c50f;
      }
    }

    &-list {
      display: inline-block;
      vertical-align: text-bottom;
    }

    &-link {
      display: inline-block;
      text-decoration: none !important;
      &:not(:last-child) {
        margin-right: 33px;
      }

      svg {
        width: 35px;
        height: 35px;
      }

      &:hover {

      }
    }
  }
}

// Head section
.head-section {

}

.head-block {
  &__subtitle {
    max-width: 420px;
    font-size: 1.444em;
    font-weight: $font-weight-medium;
  }
}

// About block
.about-section {
  margin-top: 196px;
}

.about {
  &__block {
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 63px 92px rgba(201, 189, 171, 0.7);
  }

  &__video {
    position: relative;
    margin: -150px 0 40px;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      max-height: 391px;
      background: rgba(32, 32, 32, .73);
    }

    &:hover {
      &:before {
        opacity: 0;
        visibility: hidden;
      }
    }

    iframe {
      box-shadow: 0 64px 64px rgba(201, 189, 171, 0.7);
    }
  }

  &__video-text {
    color: #a97444;
    font-size: 0.889em;

    svg {
      display: block;
      width: 72px;
      height: 72px;
      margin-bottom: 1rem;
      fill: #A97444;
    }
  }
}