/*************************************************
********************* FOOTER *********************
*************************************************/
footer.footer {
  order: 3;
  -webkit-order: 3;
  position: relative;
  min-width: 320px;
  width: 100%;
  color: #ffffff;
  background: #232323;
  z-index: 100;
}

.footer-logo {
  img {
    display: block;
    width: 100%;
    max-width: 140px;
    margin: 0 auto;
  }
}

.footer-info {
  border-top: 1px solid rgba(255, 255, 255, 0.222984);
  padding: 14px 0 0;

  &__nav-link {
    display: inline-block;
    height: 38px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    padding: 10px 20px;
    color: #fff;
    font-size: 0.833rem;
    line-height: 15px;
    text-align: center;
    text-decoration: none !important;
    vertical-align: middle;
    @include transition();

    &:hover {
      color: #ffffff;
      background: #343434;
    }
  }

  &__title {
    font-size: 0.778rem;
    letter-spacing: 2px;
  }

  &__text {
    width: 50%;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    white-space: pre-line;
  }

  &__link {
    color: #ffffff !important;
    text-decoration: none !important;

    &:hover {
      text-shadow: 0 0 20px $main-second-color;
    }
  }

  &__contacts-link {
    display: inline-block;
    width: max-content;
    margin: 0 0 14px;
    border: 1px solid rgba(174, 202, 186, 0.3);
    border-radius: 100px;
    padding: 9px 10px;
    color: #fff;
    text-decoration: none !important;
    @extend %gradient-text;

    &:hover {
      -webkit-text-fill-color: #232323;
      box-shadow: 0px 15px 64px #5DB33E;
      @extend %gradient;
    }
  }

  &__privacy {
    display: inline-block;
    color: #d8d8d8;
    font-size: 0.889rem;
    text-decoration: none !important;
  }
}

.footer-callback {
  text-align: center;

  &__number {
    display: inline-block;
    width: max-content;
    margin-bottom: 13px;
    color: #ffffff;
    font-size: 1.5em;
    text-decoration: none !important;
  }

  &__modal-btn {
    display: inline-block;
    width: max-content;
    color: #ffffff;
    text-decoration: none !important;
  }
}

.footer-social {
  border-top: 1px solid rgba(255, 255, 255, 0.222984);
  padding: 28px 0;

  &__link {
    display: inline-block;
    &:hover {
      svg {
        opacity: 1;
      }
    }

    svg {
      width: 24px;
      height: 24px;
      fill: #fff;
      opacity: .3;
      @include transition();
    }
  }
}

.copyright {
  color: #D8D8D8;
  opacity: 0.5;
  text-align: center;

  &__designer {
    a {
      color: inherit;
      text-decoration: underline;
    }
  }
}