/*************************************************
****************** MEDIA STYLES ******************
*************************************************/
// min-width
@media screen and (min-width: 320px) {
}

@include media-breakpoint-up(sm) {
}

@include media-breakpoint-up(md) {
}

@include media-breakpoint-up(lg) {
  header.header {
    &.bg-light {
      .callback-header {
        &__number {
          margin-bottom: 0;
          border-bottom: 4px dashed #FFC401;
          padding-bottom: 4px;
          font-size: 1.111rem;
          font-weight: 600;
        }

        &__modal-btn {
          display: none;
        }
      }
    }
  }

  .copyright {
    text-align: left;
  }
}

@include media-breakpoint-up(xl) {
}

// max-width
@include media-breakpoint-down(lg) {
  input.input {
    padding: 17px 20px!important;
  }

  .ui-selectmenu-button {
    &.ui-button {
      max-width: 340px;
      padding: 21px 45px 21px 20px;
    }
  }

  .ui-menu {
    .ui-menu-item-wrapper {
      padding: 20px;
    }
  }

  .modal {
    .callback {
      picture {
        width: 20%;
      }
      &__title {
        width: 80%;
      }
      &__text {
        width: 20%;
      }
      &__form {
        width: 80%;
        svg {
          top: 40%;
        }

        &-submit {
          margin-top: 18px;
        }
      }
    }
  }

  //header
  .site-menu {
    &__link {
      font-size: 14px;
    }
  }

  //content
  .callback {
    &__form {
      label {
        .datepicker {
          max-width: 260px;
          padding-right: 65px !important;
        }
      }
    }
  }

  .contacts-block {
    &__number {
      font-size: 100px;
    }

    &__social-text {
      font-size: 35px;
    }
  }

  //footer
  .footer-callback__number {
    font-size: 24px;
  }

  nav.footer-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .footer-info {
    &__contacts-link {
      font-size: 14px;
    }
  }
}

@include media-breakpoint-down(md) {
  .modal {
    .callback {
      &__title {
        width: 100%;
        padding: 20px 0;
      }

      &__text {
        width: 40%;
      }

      &__form {
        width: 100%;

        label:not(:last-child) {
          margin-bottom: 0;
        }

        &-submit {
          margin: 0;
        }
      }
    }
  }

  .slick-slider {
    .slick-dots {
      padding: 18px 0 0;
    }
  }

  .ui-selectmenu-button {
    &.ui-button {
      max-width: none;
    }
  }

  .breadcrumb {
    margin: 25px 0;
    text-align: left;

    &__item {
      &:first-child:before {
        display: none;
      }
      &:not(:first-child) {
        display: inline;
      }
    }

    &__text {

    }
  }

  .main-title {
    font-size: 58px;
    font-weight: 500;

    &.smaller-main-title {
      font-size: 58px;
    }

    .subtitle-2 {
      font-size: 18px;
      line-height: 1;
    }
  }

  //header
  header.header {
    padding: 20px 0 10px;

    &.bg-light {
      .site-menu__link {
        background: #f5f4f3 padding-box;
      }
    }
  }

  .logo {
    img {
      width: 98px;
    }
  }

  .burger-button {
    display: inline-block;
  }

  .site-menu {
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    width: 0%;
    height: 0%;
    padding: 0 40px;
    overflow: hidden;
    background: #f5f4f3;
    z-index: 120;
    transform: scale(0);
    @include transition();
    &.active {
      width: 100%;
      height: 100%;
      transform: scale(1);

      .site-menu__link {
        transition: all .3s ease .15s;
        transform: translateX(0);
      }
    }

    &__link {
      width: max-content;
      font-size: 18px;
      text-transform: uppercase;
      transform: translateX(50%);
    }

    .button {
      display: inline-block;
    }
  }

  .callback-header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;

    &__number {
      width: max-content;
      margin-bottom: 4px;
      font-size: 20px;
    }

    &__modal-btn {
      width: max-content;
      font-size: 12px;
    }
  }

  //content
  .section {
    .title {
      svg {
        display: none;
      }
    }
  }

  .main-section {
    .title {
      margin: 0 15px !important;
      font-size: 28px !important;
      font-weight: 500 !important;
      text-align: left !important;
      text-transform: none !important;
      letter-spacing: normal !important;

      span {
        text-align: left;
      }
    }

    .container {
      text-align: center;

      & > .button {
        display: inline-block;
        margin: 24px auto 0;
      }
    }
  }

  .main-slider {
    &__box {
      position: relative;

      p {
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0 20px;
        font-size: 23px;
        text-align: left;
      }

      .button {
        display: none;
      }
    }

    .slick-dots {
      position: absolute;
      right: 20px;
      bottom: 10px;
      border-radius: 50px;
      padding: 2px 0;
      background: #f5f4f3;
      li {
        vertical-align: sub;
      }
    }
  }

  .decoration-icon-list {
    margin-bottom: 16px;

    li {
      svg {
        width: 35px;
        height: 35px;
        fill: $text-color;
      }
      span {
        color: #A4D077;
        font-weight: 800;
      }
    }
  }

  .decoration-list {
    margin-bottom: 23px;
    padding: 0;
  }

  .houses-section {
    padding-top: 20px;
    padding-bottom: 30px;

    .title {
      color: $text-color;
    }

    .container > .button {
      margin-top: 24px;
    }
  }

  .house-list {
    &__box {
      width: 100%;
      max-width: none;
      &:hover {
        img {
          transform: scale(1);
        }
      }
    }
  }

  .houses-subtitle {
    font-size: 1rem;
    font-weight: bold;
  }

  .infrastructure-section {
    .container {
      padding-top: 28px;
    }
  }

  .inf {
    &__box {
      img {

      }

      p {
        text-align: center;
        &:before {
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }

  .location {
    &__description {
      padding: 54px 20px;
    }
  }

  .partners {
    padding: 35px 0 0;

    picture {
      margin-bottom: 45px;
    }
  }

  .map-section {
    .row {
      display: none;
    }
  }

  .callback {
    justify-content: center;
    align-items: center;

    picture {
      order: 2;
      display: block;
      width: auto;
      img {
        width: 117px;
        height: 117px;
      }
    }

    &__title {
      order: 1;
      display: block;
      width: 100%;
      padding: 0;
      text-align: center;
    }

    &__text {
      order: 3;
      width: auto;
      padding: 0;

      span {
        display: block;
      }
    }

    &__form {
      order: 4;
      margin: 30px 0 0;
      text-align: center;

      &-switch {
        margin: 0 50px 20px;
      }

      &-hide {
        height: auto;
        margin-bottom: 20px;
      }

      &-visible {
        width: 100%;
        margin-bottom: 26px;

        label:first-child {
          margin: 0;
        }
      }

      label:not(:last-child) {
        margin-bottom: 20px;
      }

      &-phone {
        margin: 0;
      }

      &-checkbox {
        margin-left: 0;
      }
    }
  }
  /*contact block*/
  .contact-section {
    display: none;
  }

  .news-subtitle {
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  .news {
    &__box {
      max-width: none;
      margin: 0 auto 13px;

      img {
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  /*contacts page*/
  .contacts {
    &__title {
      margin-bottom: 18px;
      font-size: 20px;
    }

    &__box {
      display: inline-block;
      width: 49%;
      margin-bottom: 24px;
    }

    &__text {
      margin: 0;
      font-size: 16px;
      &-link {
        display: block;
        margin-top: 10px;
        font-size: 24px;
        font-weight: $font-weight-bold;
      }

      &-inside {
        display: block;
      }
    }

    &__mail {
      display: inline-block;
      margin: 0 auto 30px;
      padding: 0;
      color: $main-third-color !important;
      font-weight: 600;
      background: none !important;
    }
  }

  .contacts-employees {
    padding: 0;
    background: none;

    &__box {
      border: none;
      padding: 0;
    }
  }

  .text-page-content {
    padding: 18px 22px;

    .paragraph {
      &:before {
        margin-left: 0;
      }
    }
  }

  .not-found {
    &__text {
      font-size: 18px;
    }
  }

  .main-tabs {
    &.ui-tabs {
      .ui-tabs-nav {
        li {
          &.main-tabs__tab {
            &_first.ui-tabs-active {
              .ui-tabs-anchor {
                border-width: 0;
              }
            }

            .ui-tabs-anchor {
              border-color: #000;
              color: #000;
              font-size: 2em;
            }
          }

          &:nth-child(2) {
            margin: 0 25px;
            font-size: 1.25em;
          }
        }
      }
    }
  }

  .house {
    &__cart-name {
      order: 2;
      margin: 0 0 5px;
      font-family: $font-family-base;
      font-size: 1em;
      font-weight: bold;
      text-align: left;
      letter-spacing: 3px;

      picture {
        order: 1;
      }
    }

    &__cart-info {
      order: 3;
    }
  }

  //footer
  footer.footer {
    padding-top: 43px;
  }

  .footer-logo {
    img {
      margin-bottom: 10px;
    }
  }

  .footer-info {
    border: none;
    padding: 20px 0;
    text-align: center;

    &__nav-link {
      width: 20%;
    }
    &__contacts-link {
      border: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 0;
      padding: 0;
      -webkit-text-fill-color: $main-first-color;
      font-size: 15px;

      &:hover {
        -webkit-text-fill-color: $main-first-color;
        text-shadow: 0 0 20px $main-first-color;
        background: none;
        box-shadow: none;
      }
    }
    &__privacy {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      font-size: 13px;
    }
  }

  .footer-callback {
    &__number {
      font-size: 32px;
    }
  }

  .footer-social {
    border: none;
  }

  .copyright {
    font-size: 14px;

    &__designer {
      display: inline-block;
      margin-left: 10px;
    }
  }

  .background-site {
    .elem {
      &.elem-1 {
        top: 470px;
      }

      &.elem-2 {
        display: none;
      }

      img {
        width: 280px;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  //content
  .section {
    .title {
      margin: 0 0 22px;
      font-size: 1.8em;
      font-weight: 600;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 3px;
    }
  }

  .main-section {
    .title {
      font-size: 28px;
      font-weight: 500;

      span {
        max-width: 160px;
        padding: 0 13px 14px;
        font-size: 18px;
      }
    }
  }

  .land-section {
    padding: 40px 0 0 0;

    .row hr {
      display: none;
    }
  }

  .decoration-icon-list {
    li {
      font-size: 18px;
    }
  }

  .decoration-list {
    li {
      font-size: 18px;
    }
  }

  .house-section {
    .title {

    }
  }

  .location {
    box-shadow: none;
    &__box {
      img {
        display: block;
        width: 95%;
        height: 124px;
        margin: 0 auto;
        border-radius: 12px;
        box-shadow: 0px 24px 64px rgba(141, 90, 14, 0.2);
      }
    }

    &__description {
      padding: 20px 22px;
      background: none !important;
      box-shadow: none !important;
    }

    &__numbers {
      margin-bottom: 13px;
      -webkit-text-fill-color: $main-first-color !important;
      font-size: 43px;
    }

    &__text {
      font-size: 13px;
    }
  }

  .contacts-employees {
    &__box {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;

      picture {
        padding: 40px 30px;
      }
    }

    &__info {
      padding: 30px 25px;
      background: #fff;
    }
  }

  .reviews {
    &__box {
      flex-direction: column;
      margin-top: 100px;
      padding: 0 20px 35px;

      &:not(:last-child) {
        margin-bottom: 155px;
      }

      img {
        width: 200px;
        height: 200px;
        margin: -100px 0 26px;
      }
    }

    &__date {
      margin-bottom: 18px;
    }

    &__author {
      margin-bottom: 16px;
      &-age {
        font-size: 18px;
      }
    }

    &__text {
      font-size: 14px;
    }
  }

  //footer
  .footer-info {
    &__nav-link {
      width: 25%;
    }
  }

  .background-site {
    .elem {
      &.elem-1 {
        right: -30%;
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  input.input {
    max-width: 100% !important;
    font-size: 18px;
  }

  .ui-selectmenu-button {
    .ui-button {
      padding: 19px 55px 19px 25px;
    }
  }

  .ui-selectmenu-text {
    font-size: 18px;
  }

  .ui-menu .ui-menu-item-wrapper {
    padding: 20px;
    font-size: 18px;
  }

  .modal {
    .callback {
      picture {
        max-width: 120px;
        width: auto;
      }

      &__text {
        max-width: 120px;
        width: auto;
      }

      &__form {
        label {
          margin: 0 auto !important;
        }
      }
    }
  }

  .main-title {
    &.smaller-main-title {
      font-size: 25px;
    }
  }

  //content
  .button {
    height: 51px;
    padding: 15px 20px;
    font-size: 15px;
  }

  .infrastructure-section {
    .button {
      position: static;
      margin: 0 auto 26px;
      transform: translateX(0);
    }
  }

  .inf {
    &__box {
      margin: 0 auto 30px;

      img {
        display: inline-block;
        width: 105px;
        height: 105px;
        margin: 0 24px 0 0;
        border: none;
        box-shadow: none !important;
      }

      p {
        display: inline-block;
        width: calc(100% - 135px);
        margin: 0;
        padding: 0;
        vertical-align: middle;
        font-size: 18px;
        text-align: left;
        &:before {
          display: none;
        }
      }
    }
  }

  .location {
    &__box {
      width: 50%;

      &:not(:last-child) .location__description:after {
        top: 72%;
        height: 26px;
      }
      &:nth-child(even) .location__description:after {
        display: none;
      }
    }

    &__description {
      padding: 20px 10px;
    }
  }

  .callback {
    &__title {
      margin-bottom: 10px;
      font-size: 25px;
    }

    &__text {
      margin-left: 20px;
      font-size: 18px;
      text-align: left;
      span {
        font-size: 14px;
        &:before {
          left: 0;
          transform: translateX(0);
        }
      }
    }

    &__form {
      width: 100%;
      padding: 0;

      &-switch {
        margin: 0 30px 20px;
        font-size: 14px;
      }

      label {
        width: max-content;
        max-width: 100%;
        margin: 0 auto 20px !important;
      }

      &-checkbox + * {
        font-size: 14px;
      }
    }
  }

  .contacts {
    &__box {
      width: 100%;
    }

    .button {
      display: block;
      width: max-content;
      margin: 0 auto;
    }
  }

  .text-page-content {
    .heading-2 {
      font-size: 14px;
      font-weight: 600;
      line-height: 1;
    }

    p {
      font-size: 14px;
    }
  }

  .news {
    &__date {
      font-size: 9px;
    }

    &__title {
      font-size: 12px;
      font-weight: 600;
    }

    &__link {
      font-weight: bold;
    }
  }

  .not-found {
    padding: 25px 20px 30px;
    background: #fff;
    box-shadow: 0px 14px 34px rgba(156, 143, 124, 0.36);
  }

  //footer
  .footer-info {
    &__nav-link {
      width: 35%;
      margin: 0 auto;
      padding: 11px 6px;
    }

    &__text {
      margin: 0 auto 18px;
    }
  }
}

@media screen and (max-width: 540px) {
  .breadcrumb {
    &__item {
      font-size: 12px;
    }
  }

  .main-title {
    font-size: 25px;

    .subtitle-2 {
      font-size: 16px;
    }
  }

  .modal {
    .callback__title {
      font-size: 25px;
    }
  }

  //header
  .logo {
    img {
      width: 84px;
    }
  }

  //content
  .section {
    .title {
      font-size: 16px;
    }
  }

  .decoration-icon-list {
    margin: 0 auto 18px;
    padding: 0;

    li {
      padding: 0;
      font-size: 16px;
      font-weight: 600;
      &:not(:last-child) {
        margin-bottom: 16px;
      }

      svg {
        display: none;
      }
    }
  }

  .decoration-list {
    li {
      line-height: 2.2;
      font-size: 12px;
      font-weight: 600;
      &:before {
        display: none;
      }
    }
  }

  .house-list {
    &__box {
      &-name {
        margin-bottom: 7px;
        padding: 0;
        font-size: 12px;

        &:after {
          top: -10%;
          font-size: 12px;
        }
      }

      &-price {
        font-size: 12px;

        span {
          font-weight: $font-weight-normal;
        }
      }
    }
  }

  .houses-subtitle {
    font-size: 12px;
  }

  .contacts-employees {
    &__name {
      font-size: 18px;
      font-weight: 500;
    }

    &__text {
      font-size: 12px;
    }

    &__phone {
      font-size: 12px;
    }
  }

  .reviews {
    &__box {
      margin-top: 50px;
      &:not(:last-child) {
        margin-bottom: 75px;
      }

      img {
        width: 100px;
        height: 100px;
        margin-top: -50px;
      }
    }
  }

  .news-subtitle {
    font-size: 16px;
  }

  //footer
  .footer-info {
    &__nav-link {
      font-size: 13px;
    }

    &__text {
      width: 100%;
    }
  }
}

@media screen and (max-width: 460px) {
  //content
  .main-section {
    .title {
      font-size: 23px;

      span {
        max-width: 130px;
        padding: 0 13px 8px;
        font-size: 14px;
      }
    }
  }

  .main-slider {
    &__box {
      p {
        width: min-content;
        padding: 6px 14px;
        text-align: left;
        white-space: normal;
        span {
          display: inline-block;
          padding: 0;
          &:before {
            background: none;
          }
        }
      }
    }

    .slick-dots {
      right: 5px;
    }
  }

  .contacts-employees {
    &__box {
      picture {
        padding: 20px 10px 20px 0;

        img {
          width: 90px;
          height: 90px;
        }
      }
    }

    &__info {
      padding: 20px 10px;
    }
  }

  .partners {
    picture {
      img {
        max-width: 110px;
        height: 36px;
      }
    }
  }

  //footer
  .footer-info {
    &__nav-link {
      width: 49%;
    }
  }
}

@media screen and (max-width: 395px) {
  //content
  .not-found {
    &__text {
      font-size: 12px;
    }
  }

  //footer
  .footer-info {
    text-align: left;
    &__text {
      width: 100%;
    }
  }
}