/*************************************************
****************** MEDIA STYLES ******************
*************************************************/
// min-width
@media screen and (min-width: 320px) {
  .about-news__item {
    padding: 0 3px;
  }
}

@include media-breakpoint-up(sm) {
  .about-news__item {
    padding: 0;
  }
}

@include media-breakpoint-up(md) {
}

@include media-breakpoint-up(lg) {
  header.header {
    &.bg-light {
      .callback-header {
        &__number {
          margin-bottom: 0;
          border-bottom: 4px dashed #FFC401;
          padding-bottom: 4px;
          font-size: 1.111rem;
          font-weight: 600;
        }

        &__modal-btn {
          display: none;
        }
      }
    }
  }

  .copyright {
    text-align: left;
  }
}

@include media-breakpoint-up(xl) {
}

// max-width
@include media-breakpoint-down(lg) {
  input.input {
    padding: 17px 20px !important;
  }

  .ui-selectmenu-button {
    &.ui-button {
      max-width: 340px;
      padding: 21px 45px 21px 20px;
    }
  }

  .ui-menu {
    .ui-menu-item-wrapper {
      padding: 20px;
    }
  }

  .modal {
    .callback {
      picture {
        width: 20%;
      }
      &__title {
        width: 80%;
      }
      &__text {
        width: 20%;
      }
      &__form {
        width: 80%;
        svg {
          top: 40%;
        }

        &-submit {
          margin-top: 18px;
        }
      }
    }
  }

  //header
  .site-menu {
    &__link {
      font-size: 14px;
    }
  }

  //content
  .callback {
    &__form {
      label {
        .datepicker {
          max-width: 260px;
          padding-right: 65px !important;
        }
      }
    }
  }

  .contacts-block {
    &__number {
      font-size: 100px;
    }

    &__social-text {
      font-size: 35px;
    }
  }

  .about {
    .title {
      span {
        margin-left: 30px;
      }
    }
  }

  .utilities {
    &__item {
      padding: 0 260px;
    }
  }

  .about-news-section {
    .title {
      padding: 0;
    }
  }

  .service-village {
    &__indicators {
      bottom: 0;
      height: auto;
      padding: 60px 20px 60px 75px;
    }

    &__text-block {
      max-width: 670px;
    }

    &__house {
      max-width: 720px;
    }
  }

  .offers {
    &__link {
      padding: 22px 40px;
    }
  }

  .calculate {
    &__radio-box {
      .ui-checkboxradio-radio-label {
        font-size: 20px;
      }
    }
  }

  //footer
  .footer-callback__number {
    font-size: 24px;
  }

  nav.footer-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .footer-info {
    &__contacts-link {
      font-size: 14px;
    }
  }
}

@include media-breakpoint-down(md) {
  .modal {
    .callback {
      &__title {
        width: 100%;
        padding: 20px 0;
      }

      &__text {
        width: 40%;
      }

      &__form {
        width: 100%;

        label:not(:last-child) {
          margin-bottom: 0;
        }

        &-submit {
          margin: 0;
        }
      }
    }
  }

  .document {
    .modal-title {
      margin: 0 0 25px;
    }

    &__list {
      max-height: none;
    }
  }

  .slick-slider {
    .slick-dots {
      padding: 18px 0 0;
    }
  }

  .ui-selectmenu-button {
    &.ui-button {
      max-width: none;
    }
  }

  .head-block img {
    height: 430px;
  }

  .breadcrumb {
    margin: 25px 0;
    text-align: left;

    &__item {
      &:first-child:before {
        display: none;
      }
      &:not(:first-child) {
        display: inline;
      }
    }

    &__text {

    }
  }

  .main-title {
    font-size: 58px;
    font-weight: 500;

    &.smaller-main-title {
      font-size: 58px;
    }

    .subtitle-2 {
      font-size: 18px;
      line-height: 1;
    }
  }

  //header
  header.header {
    padding: 20px 0 10px;

    &.bg-light {
      .site-menu__link {
        background: #f5f4f3 padding-box;
      }
    }
  }

  .logo {
    img {
      width: 98px;
    }
  }

  .burger-button {
    display: inline-block;
  }

  .site-menu {
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    width: 0%;
    height: 0%;
    padding: 0 40px;
    overflow: hidden;
    background: #f5f4f3;
    z-index: 120;
    transform: scale(0);
    @include transition();
    &.active {
      width: 100%;
      height: 100%;
      transform: scale(1);

      .site-menu__link {
        transition: all .3s ease .15s;
        transform: translateX(0);
      }
    }

    &__link {
      width: max-content;
      font-size: 18px;
      text-transform: uppercase;
      transform: translateX(50%);
    }

    .button {
      display: inline-block;
    }
  }

  .callback-header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;

    &__number {
      width: max-content;
      margin-bottom: 4px;
      font-size: 20px;
    }

    &__modal-btn {
      width: max-content;
      font-size: 12px;
    }
  }

  //content
  .section {
    .title {
      svg {
        display: none;
      }
    }
  }

  .main-section {
    .title {
      margin: 0 15px !important;
      font-size: 28px !important;
      font-weight: 500 !important;
      text-align: left !important;
      text-transform: none !important;
      letter-spacing: normal !important;

      span {
        text-align: left;
      }
    }

    .container {
      text-align: center;

      & > .button {
        display: inline-block;
        margin: 24px auto 0;
      }
    }
  }

  .main-slider {
    &__box {
      position: relative;

      p {
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0 20px;
        font-size: 23px;
        text-align: left;
      }

      .button {
        display: none;
      }
    }

    .slick-dots {
      position: absolute;
      right: 20px;
      bottom: 10px;
      border-radius: 50px;
      padding: 2px 0;
      background: #f5f4f3;
      li {
        vertical-align: sub;
      }
    }
  }

  .decoration-icon-list {
    margin-bottom: 16px;

    li {
      svg {
        width: 35px;
        height: 35px;
        fill: $text-color;
      }
      span {
        color: #A4D077;
        font-weight: 800;
      }
    }
  }

  .decoration-list {
    margin-bottom: 23px;
    padding: 0;
  }

  .houses-section {
    padding-top: 20px;
    padding-bottom: 30px;

    .title {
      color: $text-color;
    }

    .container > .button {
      margin-top: 24px;
    }
  }

  .house-list {
    &__box {
      width: 100%;
      max-width: none;
      &:hover {
        img {
          transform: scale(1);
        }
      }
    }
  }

  .houses-subtitle {
    font-size: 1rem;
    font-weight: bold;
  }

  .infrastructure-section {
    .container {
      padding-top: 28px;
    }
  }

  .inf {
    &__box {
      img {

      }

      p {
        text-align: center;
        &:before {
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }

  .location {
    &__description {
      padding: 54px 20px;
    }
  }

  .partners {
    padding: 35px 0 0;

    picture {
      margin-bottom: 45px;
    }
  }

  .map-section {
    .row {
      display: none;
    }
  }

  .callback {
    justify-content: center;
    align-items: center;

    picture {
      order: 2;
      display: block;
      width: auto;
      img {
        width: 117px;
        height: 117px;
      }
    }

    &__title {
      order: 1;
      display: block;
      width: 100%;
      padding: 0;
      text-align: center;
    }

    &__text {
      order: 3;
      width: auto;
      padding: 0;

      span {
        display: block;
      }
    }

    &__form {
      order: 4;
      margin: 30px 0 0;
      text-align: center;

      &-switch {
        margin: 0 50px 20px;
      }

      &-hide {
        height: auto;
        margin-bottom: 20px;
      }

      &-visible {
        width: 100%;
        margin-bottom: 26px;

        label:first-child {
          margin: 0;
        }
      }

      label:not(:last-child) {
        margin-bottom: 20px;
      }

      &-phone {
        margin: 0;
      }

      &-checkbox {
        margin-left: 0;
      }
    }
  }
  /*contact block*/
  .contact-section {
    display: none;
  }

  .news-subtitle {
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  .news {
    &__box {
      max-width: none;
      margin: 0 auto 13px;

      img {
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  .about-section {
    margin-top: 24px;
  }

  .about {
    &__video {
      margin: 15px 0 40px;
    }

    &__gallery {
      text-align: center;
    }
  }

  /*contacts page*/
  .contacts {
    &__title {
      margin-bottom: 18px;
      font-size: 20px;
    }

    &__box {
      display: inline-block;
      width: 49%;
      margin-bottom: 24px;
    }

    &__text {
      margin: 0;
      font-size: 16px;
      &-link {
        display: block;
        margin-top: 10px;
        font-size: 24px;
        font-weight: $font-weight-bold;
      }

      &-inside {
        display: block;
      }
    }

    &__mail {
      display: inline-block;
      margin: 0 auto 30px;
      padding: 0;
      color: $main-third-color !important;
      font-weight: 600;
      background: none !important;
    }
  }

  .contacts-employees {
    padding: 0;
    background: none;

    &__box {
      border: none;
      padding: 0;
    }
  }

  .text-page-content {
    padding: 18px 22px;

    .paragraph {
      &:before {
        margin-left: 0;
      }
    }
  }

  .not-found {
    &__text {
      font-size: 18px;
    }
  }

  .main-tabs {
    &.ui-tabs {
      .ui-tabs-nav {
        li {
          &.main-tabs__tab {
            border-radius: 20px 0;
            padding: 10px 20px;

            &_first.ui-tabs-active {
              .ui-tabs-anchor {
                border-width: 0;
              }
            }

            .ui-tabs-anchor {
              border-color: #000;
              color: #000;
              font-size: 30px;
            }
          }

          &:nth-child(2) {
            margin: 0 15px;
            font-size: 1.25em;
          }
        }
      }

      .tab-switch {
        font-size: 26px;

        svg {
          right: calc(100% + 10px);
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  .house {
    &__cart-name {
      order: 2;
      margin: 0 0 5px;
      font-family: $font-family-base;
      font-size: 1em;
      font-weight: bold;
      text-align: left;
      letter-spacing: 3px;

      picture {
        order: 1;
      }
    }

    &__cart-info {
      order: 3;
    }
  }

  .utilities {
    &__item {
      padding: 0 200px;

      img {
        width: 175px;
        height: 175px;
      }
    }
  }

  .service-village {
    border-radius: 12px;
    padding: 20px 20px 30px;
    background: #ffffff;
    box-shadow: 0 14px 34px rgba(156, 143, 124, 0.36);

    &__indicators {
      position: static;
      flex-direction: row;
      justify-content: space-between;
      width: auto;
      height: auto;
      margin-bottom: 22px;
      border-bottom: 1px solid #F0B520;
      padding: 0;
      background: none;

      &-item {
        max-width: 30%;
        margin-bottom: 28px;
        &:last-child {
          margin-bottom: 28px;
        }
      }

      &-value {
        margin-bottom: 6px;
        font-size: 76px;
      }

      &-signature {
        max-width: none;
        margin: 0;
      }
    }

    &__signature {
      max-width: 80%;
      margin: 0 0 40px;
      border: none;
      padding: 0;
    }

    &__text-block {
      max-width: none;
      background: none;
      &:after {
        display: none;
      }
    }

    &__house {
      max-width: none;
      margin-left: -20px;

      img {
        box-shadow: none;
      }
    }
  }

  .offers-section {
    .container {
      padding: 0 15px;
      background: none;
      box-shadow: none;
    }
  }

  .offers {
    &__box {
      border-color: $main-first-color;
      padding-bottom: 0;
    }

    &__title {
      position: relative;
      margin-bottom: 13px;
      padding-left: 40px;
      &:before {
        content: counter(section)'.';
        right: auto;
        left: 0;
        font-size: 2em;
      }
    }

    &__link {
      display: block;
      max-width: 440px;
      margin: 0 auto;
    }
  }

  .calculate {
    &__radio-box {
      .ui-checkboxradio-radio-label {
        font-size: 18px;
      }
    }
  }

  .plans {
    &__btn-wrap {
      justify-content: center;
    }
  }

  //footer
  footer.footer {
    padding-top: 43px;
  }

  .footer-logo {
    img {
      margin-bottom: 10px;
    }
  }

  .footer-info {
    border: none;
    padding: 20px 0;
    text-align: center;

    &__nav-link {
      width: 20%;
    }
    &__contacts-link {
      border: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 0;
      padding: 0;
      -webkit-text-fill-color: $main-first-color;
      font-size: 15px;

      &:hover {
        -webkit-text-fill-color: $main-first-color;
        text-shadow: 0 0 20px $main-first-color;
        background: none;
        box-shadow: none;
      }
    }
    &__privacy {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      font-size: 13px;
    }
  }

  .footer-callback {
    &__number {
      font-size: 32px;
    }
  }

  .footer-social {
    border: none;
  }

  .copyright {
    font-size: 14px;

    &__designer {
      display: inline-block;
      margin-left: 10px;
    }
  }

  .background-site {
    display: none;
    .elem {
      &.elem-1 {
        top: 470px;
      }

      &.elem-2 {
        display: none;
      }

      img {
        width: 280px;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  //content
  .section {
    .title {
      margin: 0 0 22px;
      font-size: 1.8em;
      font-weight: 600;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 3px;
    }
  }

  .main-section {
    .title {
      font-size: 28px;
      font-weight: 500;

      span {
        max-width: 160px;
        padding: 0 13px 14px;
        font-size: 18px;
      }
    }
  }

  .land-section {
    padding: 40px 0 0 0;

    .row hr {
      display: none;
    }
  }

  .callback-section {
    padding: 50px 0;
  }

  .decoration-icon-list {
    li {
      font-size: 18px;
    }
  }

  .decoration-list {
    li {
      font-size: 18px;
    }
  }

  .house-section {
    margin: 0;
    .title {

    }
  }

  .location {
    box-shadow: none;
    &__box {
      img {
        display: block;
        width: 95%;
        height: 124px;
        margin: 0 auto;
        border-radius: 12px;
        box-shadow: 0px 24px 64px rgba(141, 90, 14, 0.2);
      }
    }

    &__description {
      padding: 20px 22px;
      background: none !important;
      box-shadow: none !important;
    }

    &__numbers {
      margin-bottom: 13px;
      -webkit-text-fill-color: $main-first-color !important;
      font-size: 43px;
    }

    &__text {
      font-size: 13px;
    }
  }

  .contacts-employees {
    &__box {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;

      picture {
        padding: 40px 30px;
      }
    }

    &__info {
      padding: 30px 25px;
      background: #fff;
    }
  }

  .reviews {
    &__box {
      flex-direction: column;
      margin-top: 100px;
      padding: 0 20px 35px;

      &:not(:last-child) {
        margin-bottom: 155px;
      }

      img {
        width: 200px;
        height: 200px;
        margin: -100px 0 26px;
      }
    }

    &__date {
      margin-bottom: 18px;
    }

    &__author {
      margin-bottom: 16px;
      &-age {
        font-size: 18px;
      }
    }

    &__text {
      font-size: 14px;
    }
  }

  .about {
    .title span {
      display: none;
    }

    &__block {
      margin-bottom: 35px;
      background: none;
      box-shadow: none;
    }
  }

  .about-slider {
    &__item {
      img {
        height: 320px;
      }
    }
  }

  .communic-section {
    padding: 24px 0 26px;
  }

  .utilities {
    &__item-wrap:not(:last-child) {
      margin: 0 0 34px;
    }

    &__item {
      height: auto;
      padding: 0;
    }

    &__img {
      position: static;
      top: 0;
      transform: translateY(0);

      img {
        width: 125px;
        height: 125px;
      }

      svg {
        display: none;
      }
    }

    &__description {
      flex-direction: column;
      padding-left: 30px;
    }

    &__name {
      width: auto;
    }

    &__text {
      width: auto;
    }
  }

  .about-review {
    &__item {
      display: flex !important;
      flex-direction: row;
      max-width: none;
      padding: 25px;
    }

    &__img {
      display: inline-block !important;
      margin: 0 16px 0 0;
    }

    &__text {
      height: 100px;
      margin-bottom: 15px;
    }
  }

  .about-news-section {
    * {
      box-shadow: none;
    }

    .container {
      padding-top: 17px;
      padding-bottom: 20px;
      background: #fff;
    }

    .title span:after {
      background: none;
    }
  }

  .about-news {
    &__background {
      display: none;
    }

    &__description {
      padding: 14px 4px 0;
    }

    &__slider.slick-slider .slick-dots {
      position: absolute;
      top: 108%;
      left: 50%;
      padding: 0;
      transform: translateX(-50%);
    }
  }

  .service-village {
    &__indicators {
      &-item {
        color: #000000;
      }

      &-value {
        font-size: 50px;
        font-weight: 400;
        line-height: 1;
      }
    }

    &__signature {
      max-width: none;
      font-weight: 400;
    }

    &__goal-title {
      color: #000;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 3px;
    }

    &__goal-list {
      margin: 0;
    }

    &__house {
      display: none;
    }
  }

  .main-tabs {
    &.ui-tabs {
      .ui-tabs-nav {
        margin-bottom: 35px;
      }

      .ui-tabs-panel {
        padding: 0;
      }

      .tab-switch {
        margin: 40px auto;
      }
    }
  }

  .house {
    padding: 8px 0 4px;
    background: #fff;

    &__cart {
      margin-bottom: 30px;
      padding: 0;
      &:hover {
        background: none;
        box-shadow: none;
      }

      picture img {
        height: 250px;
      }
    }

    &__cart-text {
      &_large {
        font-weight: 400;
      }
    }
  }

  .offers-section {
    margin-bottom: 47px;
    .title {
      color: #000000;
    }
  }

  .calculate-section {
    .container {
      border-radius: 12px;
      overflow: hidden;
      background: #fff;
      &> .row {
        padding: 14px 30px 12px;
        background: #E2DFDD;
      }
    }
    .title {
      margin: 0;
      text-align: left;

      span {
        font-weight: 400;
        letter-spacing: 0;
      }
    }
  }

  .calculate {
    margin-left: -15px;
    margin-right: -15px;

    &__form {
      fieldset {
        width: 100%;
        justify-content: center;
        &:last-child {
          background: linear-gradient(135deg, #b6f173 15%, #84d078 85%);
        }
      }
    }

    &__radio-wrapper {
      flex-direction: column;
      align-items: center;
      padding: 20px;
      background: #F8F8F8;
    }

    &__radio-box {
      width: 420px;

      .ui-checkboxradio-radio-label {
        margin-bottom: 18px;
        &:hover {
          .ui-icon {
            width: 25px;
            height: 25px;
            border: 1px solid rgba(0, 0, 0, 0.2) !important;
            box-shadow: inset 0 0 0 3px #ffffff !important;
          }
        }

        &.ui-checkboxradio-checked {
          color: #292929;
          font-weight: 500;
          text-shadow: none;
          background: none !important;
          box-shadow: none;

          .ui-icon {
            border: 1px solid rgba(0, 0, 0, 0.2);
            box-shadow: inset 0 0 0 3px #ffffff;
          }
        }

        .ui-icon {
          width: 25px;
          height: 25px;
          border: 1px solid rgba(0, 0, 0, 0.2);
        }
      }

      &:last-child .ui-checkboxradio-label {
        margin: 0;
      }
    }

    &__range-wrapper {
      position: relative;
      padding: 16px 20px 37px;

      &:after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        border-top: 26px solid #ffffff;
        border-right: 26px solid transparent;
        border-left: 26px solid transparent;
        transform: translateX(-50%);
      }
    }

    &__range-box {
      margin-bottom: 33px;

      &:last-child {
        margin: 0;
      }
    }

    &__value-wrapper {
      padding: 15px 20px 10px;
    }

    &__value-name {
      font-weight: 500;
    }

    &__value-text {
      color: #fff;
    }
  }

  .plans {
    &__title-text {
      text-align: center;
    }

    &__button {
      font-size: 36px;
      &:hover {
        padding: 10px 20px;
      }
    }

    &__text {
      font-size: 18px;
    }
  }

  //footer
  .footer-info {
    &__nav-link {
      width: 25%;
    }
  }

  .background-site {
    .elem {
      &.elem-1 {
        right: -30%;
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  input.input {
    max-width: 100% !important;
    font-size: 18px;
  }

  .ui-selectmenu-button {
    .ui-button {
      padding: 19px 55px 19px 25px;
    }
  }

  .ui-selectmenu-text {
    font-size: 18px;
  }

  .ui-menu .ui-menu-item-wrapper {
    padding: 20px;
    font-size: 18px;
  }

  .modal {
    .callback {
      picture {
        max-width: 120px;
        width: auto;
      }

      &__text {
        max-width: 120px;
        width: auto;
      }

      &__form {
        label {
          margin: 0 auto !important;
        }
      }
    }
  }

  .main-title {
    &.smaller-main-title {
      font-size: 25px;
    }
  }

  .head-block img {
    height: 340px;
  }

  .main-tabs.ui-tabs {
    .tab-switch {
      font-size: 18px;
    }
  }

  //content
  .button {
    height: 51px;
    padding: 15px 20px;
    font-size: 15px;
  }

  .infrastructure-section {
    .button {
      position: static;
      margin: 0 auto 26px;
      transform: translateX(0);
    }
  }

  .inf {
    &__box {
      margin: 0 auto 30px;

      img {
        display: inline-block;
        width: 105px;
        height: 105px;
        margin: 0 24px 0 0;
        border: none;
        box-shadow: none !important;
      }

      p {
        display: inline-block;
        width: calc(100% - 135px);
        margin: 0;
        padding: 0;
        vertical-align: middle;
        font-size: 18px;
        text-align: left;
        &:before {
          display: none;
        }
      }
    }
  }

  .location {
    &__box {
      width: 50%;

      &:not(:last-child) .location__description:after {
        top: 72%;
        height: 26px;
      }
      &:nth-child(even) .location__description:after {
        display: none;
      }
    }

    &__description {
      padding: 20px 10px;
    }
  }

  .callback {
    &__title {
      margin-bottom: 10px;
      font-size: 25px;
    }

    &__text {
      margin-left: 20px;
      font-size: 18px;
      text-align: left;
      span {
        font-size: 14px;
        &:before {
          left: 0;
          transform: translateX(0);
        }
      }
    }

    &__form {
      width: 100%;
      padding: 0;

      &-switch {
        margin: 0 30px 20px;
        font-size: 14px;
      }

      label {
        width: max-content;
        max-width: 100%;
        margin: 0 auto 20px !important;
      }

      &-checkbox + * {
        font-size: 14px;
      }
    }
  }

  .contacts {
    &__box {
      width: 100%;
    }

    .button {
      display: block;
      width: max-content;
      margin: 0 auto;
    }
  }

  .text-page-content {
    .heading-2 {
      font-size: 14px;
      font-weight: 600;
      line-height: 1;
    }

    p {
      font-size: 14px;
    }
  }

  .news {
    &__date {
      font-size: 9px;
    }

    &__title {
      font-size: 12px;
      font-weight: 600;
    }

    &__link {
      font-weight: bold;
    }
  }

  .not-found {
    padding: 25px 20px 30px;
    background: #fff;
    box-shadow: 0px 14px 34px rgba(156, 143, 124, 0.36);
  }

  .about {
    &__video {
      margin: 0;
    }

    &__gallery {
      display: none;
    }
  }

  .utilities {
    &:after {
      display: none;
    }
  }

  .about-news {
    &__item {
      max-width: 300px;
    }

    &__title {
      margin-bottom: 10px;
    }

    &__text {
      display: none;
    }
  }

  .house {
    &__cart {
      margin-bottom: 11px;

      picture {
        margin-bottom: 9px;
      }
    }

    &__cart-name {
      font-size: 12px;
    }

    &__cart-text {
      padding: 0;
      font-size: 12px;
    }
  }

  .offers {
    &__link {
      max-width: 340px;
    }
  }

  //footer
  .footer-info {
    &__nav-link {
      width: 35%;
      margin: 0 auto;
      padding: 11px 6px;
    }

    &__text {
      margin: 0 auto 18px;
    }
  }
}

@media screen and (max-width: 540px) {
  .breadcrumb {
    &__item {
      font-size: 12px;
    }
  }

  .main-title {
    font-size: 25px;

    .subtitle-2 {
      font-size: 16px;
    }
  }

  .head-block {
    &__subtitle {
      font-size: 18px;
    }

    img {
      height: 240px;
    }
  }

  .modal {
    .callback__title {
      font-size: 25px;
    }
  }

  //header
  .logo {
    img {
      width: 84px;
    }
  }

  //content
  .section {
    .title {
      font-size: 16px;
    }
  }

  .decoration-icon-list {
    margin: 0 auto 18px;
    padding: 0;

    li {
      padding: 0;
      font-size: 16px;
      font-weight: 600;
      line-height: 1;
      &:not(:last-child) {
        margin-bottom: 16px;
      }

      svg {
        display: none;
      }
    }
  }

  .decoration-list {
    li {
      font-size: 12px;
      font-weight: 600;
      line-height: 1;
      &:before {
        display: none;
      }
    }
  }

  .house-list {
    &__box {
      img {
        height: 150px;
      }

      &-name {
        margin-bottom: 7px;
        padding: 0;
        font-size: 12px;

        &:after {
          top: -10%;
          font-size: 12px;
        }
      }

      &-price {
        font-size: 12px;

        span {
          font-weight: $font-weight-normal;
        }
      }
    }
  }

  .houses-subtitle {
    font-size: 12px;
  }

  .contacts-employees {
    &__name {
      font-size: 18px;
      font-weight: 500;
    }

    &__text {
      font-size: 12px;
    }

    &__phone {
      font-size: 12px;
    }
  }

  .reviews {
    &__box {
      margin-top: 50px;
      &:not(:last-child) {
        margin-bottom: 75px;
      }

      img {
        width: 100px;
        height: 100px;
        margin-top: -50px;
      }
    }
  }

  .news-subtitle {
    font-size: 16px;
  }

  .about {
    &__video {
      max-height: 280px;
      iframe {
        height: 280px;
      }
    }
  }

  .about-news {
    &__img {
      height: 100px;
    }

    &__date {
      margin-bottom: 3px;
      color: #666666;
      font-size: 9px;
    }

    &__title {
      font-size: 12px;
    }
  }

  .service-village {
    &__indicators {
      &-value {
        font-size: 27px;
      }
      &-signature {
        font-size: 9px;
        font-weight: bold;
        line-height: 1;
      }
    }

    &__signature {
      margin-bottom: 13px;
      font-size: 12px;
    }

    &__goal {
      &-title {
        margin-bottom: 15px;
        font-size: 16px;
      }

      &-list {
        padding: 0 0 0 35px;

        li {
          margin-bottom: 15px;
          font-size: 12px;
          line-height: 15px;
        }
      }
    }
  }

  .main-tabs.ui-tabs {
    .ui-tabs-nav {
      li {
        &.main-tabs__tab {
          padding: 10px;

          .ui-tabs-anchor {
            font-size: 24px;
          }
        }
      }
    }
  }

  .house {
    &__cart {
      picture img {
        height: 180px;
      }
    }
  }

  .calculate-section {
    .container > .row {
      padding: 14px 15px 12px;
    }

    .title {
      font-size: 14px;
      letter-spacing: 2px;

      span {
        font-size: 12px;
      }
    }
  }

  .calculate {
    &__radio-box {
      width: 300px;

      .ui-checkboxradio-radio-label {
        padding: 0;
        font-size: 14px;

        &:hover .ui-icon {
          margin-right: 9px;
        }

        .ui-icon {
          margin-right: 9px;
        }
      }
    }

    &__range-box-name {
      color: #292929;
      font-size: 14px;
      font-weight: bold;
    }

    &__range-box-info {
      display: none;
    }

    &__value {
      &:not(:first-child):not(:last-child) {
        width: 45%;
      }

      &:last-child {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center;
      }
    }

    &__value-name {
      width: 80%;
      font-size: 14px;
    }

    &__value-text {
      font-size: 29px;
    }

    &__link-calculation {
      max-width: 190px;
      margin: 0 0 20px 0;
      font-size: 15px;

      &-ico {
        width: 32px;
        height: 32px;
        padding: 9px;

        svg {
          width: 14px;
          height: 14px;
        }
      }

      &+ .calculate__value-name {
        padding: 0;
      }
    }
  }

  .plans {
    &__btn-wrap {
      margin-bottom: 20px;
    }

    &__button {
      font-size: 18px;
      font-weight: bold;

      &:hover {
        border-radius: 20px 0;
      }
    }

    &__images-wrap {
      picture {
        border-radius: 12px;
      }
    }
  }

  //footer
  .footer-info {
    &__nav-link {
      font-size: 13px;
    }

    &__text {
      width: 100%;
    }
  }
}

@media screen and (max-width: 460px) {
  //content
  .main-section {
    .title {
      font-size: 23px;

      span {
        max-width: 130px;
        padding: 0 13px 8px;
        font-size: 14px;
      }
    }
  }

  .main-slider {
    &__box {
      p {
        width: min-content;
        padding: 6px 14px;
        text-align: left;
        white-space: normal;
        span {
          display: inline-block;
          padding: 0;
          &:before {
            background: none;
          }
        }
      }
    }

    .slick-dots {
      right: 5px;
    }
  }

  .head-block {
    img {
      height: 180px;
      object-fit: cover;
      object-position: center;
    }
  }

  .contacts-employees {
    &__box {
      picture {
        padding: 20px 10px 20px 0;

        img {
          width: 90px;
          height: 90px;
        }
      }
    }

    &__info {
      padding: 20px 10px;
    }
  }

  .partners {
    picture {
      img {
        max-width: 110px;
        height: 36px;
      }
    }
  }

  .about-slider {
    &__item {
      img {
        height: 180px;
      }
    }
  }

  .utilities {
    &__img img {
      width: 90px;
      height: 90px;
    }

    &__name {
      margin: 0 0 7px;
      font-size: 14px;
      font-weight: bold;
    }

    &__text {
      font-size: 14px;
    }
  }

  .about-review {
    &__img {
      width: 70px;
      height: 70px;
    }

    &__author {
      margin-bottom: 9px;
      font-size: 18px;
    }

    &__author-age {
      font-size: 12px;
      font-weight: 600;
    }

    &__text {
      font-size: 12px;
    }
  }

  .document {
    .modal-title {
      font-size: 20px;
    }

    &__list {
      padding-left: 25px;
    }

    &__list-item {
      font-size: 14px;
    }
  }

  .house {
    &> .col-6 {
      padding: 0 3px;
    }

    &__cart {
      picture img {
        height: 100px;
      }
    }

    &__cart-name {
      letter-spacing: 1px;
    }
  }

  .main-tabs.ui-tabs {
    .tab-switch {
      font-size: 12px;
    }
  }

  .offers {
    &__box:last-child {
      display: none;
    }

    &__title {
      padding-left: 20px;
      font-size: 18px;
      &:before {
        top: 50%;
        font-size: 18px;
        transform: translateY(-50%);
      }
    }

    &__list li {
      font-size: 12px;
    }
  }

  //footer
  .footer-info {
    &__nav-link {
      width: 49%;
    }
  }
}

@media screen and (max-width: 395px) {
  //content
  .not-found {
    &__text {
      font-size: 12px;
    }
  }

  .house-list__box {
    img {
      height: 100px;
    }
  }

  .main-tabs.ui-tabs {
    .ui-tabs-nav {
      li {
        &:nth-child(2) {
          font-size: 12px;
        }

        &.main-tabs__tab {
          .ui-tabs-anchor {
            font-size: 20px;
          }
        }
      }
    }
  }

  //footer
  .footer-info {
    text-align: left;
    &__text {
      width: 100%;
    }
  }
}