<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, shrink-to-fit=no">
    <title>О посёлке</title>
</head>

<body class="loaded">

<!-- BODY -->
<div class="main-wrapper">
    <!-- HEADER -->
    <header class="header position-fixed">
        <div class="container">
            <div class="header-content row align-items-lg-end align-items-center py-lg-4">
                <div class="col-2 col-lg-2 order-1 order-lg-1">
                    <a href="index.html" class="logo">
                        <picture>
                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/logo.svg') %>" alt="loader" title="loader">
                        </picture>
                    </a>
                </div>

                <div class="col-2 col-sm-1 col-lg-7 order-3 order-lg-2">
                    <nav class="site-menu d-flex flex-wrap">
                        <a href="about-us.html" class="site-menu__link active">О поселке</a>
                        <a href="#plan" class="site-menu__link">Генплан</a>
                        <a href="houses.html" class="site-menu__link">Дома</a>
                        <a href="#region" class="site-menu__link">Участки</a>
                        <a href="#infrastructure" class="site-menu__link">Инфраструктура</a>
                        <a href="contacts.html" class="site-menu__link">Контакты</a>

                        <!--<a href="contacts.html" class="site-menu__link button button-primary">Обратный звонок</a>-->
                    </nav>
                    <button class="burger-button">
                        <span class="burger-button__line"></span>
                    </button>
                </div>

                <div class="col-8 col-sm-9 col-lg-3 pb-lg-2 order-2 order-lg-3">
                    <div class="callback-header text-right">
                        <a href="tel:88001001343" class="callback-header__number">8-800-100-13-43</a>
                        <button type="button" class="callback-header__modal-btn" data-toggle="modal" data-target="#callback">Обратный звонок</button>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- HEADER END -->

    <!-- CONTENT -->
    <main class="content">
        <div class="section head-section">
            <div class="container head-block">
                <div class="row">
                    <div class="col-lg-2 align-self-center">
                        <nav class="breadcrumb">
                            <a href="index.html" class="breadcrumb__item"><span class="breadcrumb__text">на главную</span></a>
                            <a href="#2" class="breadcrumb__item"><span class="breadcrumb__text">Второй</span></a>
                            <a href="#3" class="breadcrumb__item"><span class="breadcrumb__text">Трертий</span></a>
                        </nav>
                    </div>

                    <div class="col-lg-10">
                        <h1 class="main-title">о поселке</h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-10 offset-lg-2">
                        <p class="head-block__subtitle m-0">Формат «Николино Парк» — это философия свободы</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="section about-section">
            <div class="container about">
                <div class="row about__block">
                    <div class="col-lg-3">
                        <p class="about__video-text pt-lg-4 px-lg-3">
                            <svg>
                                <use xlink:href="img/spritemap.svg#sprite-youtube"></use>
                            </svg>

                            Посмотрите наше ознакомительное видео, чтобы составить впечатление о чем-то. Этот текст для композиции, можно убрать.
                        </p>
                    </div>

                    <div class="col-lg-9">
                        <div class="about__video">
                            <iframe width="100%" height="391" src="https://www.youtube.com/embed/rnVxkktkzAI" frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>

                        <a href="#more-photo" class="about__button button button-square">больше фото</a>
                    </div>

                    <div class="col-12">
                        <div class="about__signature">
                            <p class="about__signature-text">Наши жители просыпаются под пение птиц, дружат семьями, а дети играют на улице вместе. </p>

                            <picture class="about__signature-img">
                                <img src="<%= require('./img/img-01.png') %>" alt="about">
                            </picture>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-10 offset-2">
                        <h2 class="title">Эко-стиль</h2>
                    </div>
                </div>

                <div class="about-slider">
                    <div class="about-slider__item">
                        <picture>
                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/about-us01.jpg') %>" alt="eco-style">
                        </picture>
                    </div>

                    <div class="about-slider__item">
                        <picture>
                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/about-us01.jpg') %>" alt="eco-style">
                        </picture>
                    </div>

                    <div class="about-slider__item">
                        <picture>
                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/about-us01.jpg') %>" alt="eco-style">
                        </picture>
                    </div>
                </div>
            </div>
        </div>

        <div class="section callback-section">
            <div class="container">
                <div class="callback d-flex flex-wrap">
                    <picture>
                        <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/manager-img.png') %>" alt="manager">
                    </picture>

                    <p class="callback__title w-75">На связи!</p>

                    <p class="callback__text">Ирина
                        <span>Менеджер
                            по продажам</span>
                    </p>

                    <form action="" method="" class="callback__form">
                        <button type="button" class="callback__form-switch">Выбрать время звонка</button>

                        <fieldset class="callback__form-hide hide">
                            <label>
                                <input type="date" class="input">
                            </label>

                            <label>
                                <input type="time" class="input mask-time">
                            </label>

                            <label>
                                <select name="timezone" id="timezone" class="input">
                                    <option value="3">(GMT+3:00) Краснодар</option>
                                    <option value="2">(GMT+2:00) Краснодар</option>
                                    <option value="4">(GMT+4:00) Краснодар</option>
                                </select>
                            </label>
                        </fieldset>

                        <fieldset class="callback__form-visible d-inline-flex">
                            <label>
                                <input type="text" class="callback__form-phone input mask-phone" placeholder="+7">
                            </label>

                            <label>
                                <input type="checkbox">
                                <span class="callback__form-checkbox"></span>
                                <span>Согласие на обработку ПД</span>
                            </label>
                        </fieldset>

                        <button type="submit" class="callback__form-submit button button-primary">Перезвоните мне</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="section communic-section">
            <div class="container">
                <div class="row">
                    <div class="col-10 offset-2">
                        <h2 class="title">Коммуникации</h2>
                    </div>
                </div>

                <div class="row utilities">
                    <div class="utilities__item-wrap col-12">
                        <div class="utilities__item">
                            <picture class="utilities__img">
                                <img src="<%= require('./img/utilities-01.png') %>" alt="">
                            </picture>

                            <div class="utilities__description">
                                <span class="utilities__name">Водобснабжение</span>
                                <span class="utilities__text">Артезианская скважина – воду из-под крана можно пить!</span>
                            </div>
                        </div>
                    </div>

                    <div class="utilities__item-wrap col-12">
                        <div class="utilities__item">
                            <picture class="utilities__img">
                                <img src="<%= require('./img/utilities-02.png') %>" alt="">
                            </picture>

                            <div class="utilities__description">
                                <span class="utilities__name">Водоотведение</span>
                                <span class="utilities__text">Центральная канализация</span>
                            </div>
                        </div>
                    </div>

                    <div class="utilities__item-wrap col-12">
                        <div class="utilities__item">
                            <picture class="utilities__img">
                                <img src="<%= require('./img/utilities-03.png') %>" alt="">
                            </picture>

                            <div class="utilities__description">
                                <span class="utilities__name">Газ</span>
                                <span class="utilities__text">Поселок газифицирован в марте 2020 года</span>
                            </div>
                        </div>
                    </div>

                    <div class="utilities__item-wrap col-12">
                        <div class="utilities__item">
                            <picture class="utilities__img">
                                <img src="<%= require('./img/utilities-04.png') %>" alt="">
                            </picture>

                            <div class="utilities__description">
                                <span class="utilities__name">Электричество</span>
                                <span class="utilities__text">10 КВт на каждое домовладение</span>
                            </div>
                        </div>
                    </div>

                    <div class="utilities__item-wrap col-12">
                        <div class="utilities__item">
                            <picture class="utilities__img">
                                <img src="<%= require('./img/utilities-05.png') %>" alt="">
                            </picture>

                            <div class="utilities__description">
                                <span class="utilities__name">Интернет</span>
                                <span class="utilities__text">Скорость 300 Мбит/с</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section about-review-section">
            <div class="container">
                <div class="row col-10 offset-2">
                    <h2 class="title">Отзывы</h2>
                </div>

                <div class="about-review">
                    <div class="about-review__item">
                        <picture>
                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/review-01.png') %>" class="about-review__img" alt="">
                        </picture>

                        <p class="about-review__date">24 апреля 2020</p>

                        <p class="about-review__author">Слава <span class="about-review__author-age">32 года</span></p>

                        <p class="about-review__text">Укажите дату и время в которое вам будет удобно принять наш звонок. Или оставьте это поле пустым и менеджер перезвонит вам в
                            ближайшие минуты.</p>

                        <a href="#reviews" class="about-review__link">Далее</a>
                    </div>

                    <div class="about-review__item">
                        <picture>
                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/review-02.png') %>" class="about-review__img" alt="">
                        </picture>

                        <p class="about-review__date">24 апреля 2020</p>

                        <p class="about-review__author">Людвиг <span class="about-review__author-age">32 года</span></p>

                        <p class="about-review__text">Или оставьте это поле пустым и менеджер перезвонит вам в ближайшие минуты. Укажите дату и время в которое вам будет
                            удо...</p>

                        <a href="#reviews" class="about-review__link">Далее</a>
                    </div>

                    <div class="about-review__item">
                        <picture>
                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/review-01.png') %>" class="about-review__img" alt="">
                        </picture>

                        <p class="about-review__date">24 апреля 2020</p>

                        <p class="about-review__author">Сергей <span class="about-review__author-age">32 года</span></p>

                        <p class="about-review__text">Наш звонок. Или оставьте это поле пустым и менеджер перезвонит вам в ближайшие минуты. Укажите дату и время в которое.</p>

                        <a href="#reviews" class="about-review__link">Далее</a>
                    </div>

                    <div class="about-review__item">
                        <picture>
                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/review-01.png') %>" class="about-review__img" alt="">
                        </picture>

                        <p class="about-review__date">24 апреля 2020</p>

                        <p class="about-review__author">Слава <span class="about-review__author-age">32 года</span></p>

                        <p class="about-review__text">Укажите дату и время в которое вам будет удобно принять наш звонок. Или оставьте это поле пустым и менеджер перезвонит вам в
                            ближайшие минуты.</p>

                        <a href="#reviews" class="about-review__link">Далее</a>
                    </div>

                    <div class="about-review__item">
                        <picture>
                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/review-02.png') %>" class="about-review__img" alt="">
                        </picture>

                        <p class="about-review__date">24 апреля 2020</p>

                        <p class="about-review__author">Людвиг <span class="about-review__author-age">32 года</span></p>

                        <p class="about-review__text">Или оставьте это поле пустым и менеджер перезвонит вам в ближайшие минуты. Укажите дату и время в которое вам будет
                            удо...</p>

                        <a href="#reviews" class="about-review__link">Далее</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="section about-news-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 offset-lg-2">
                        <h2 class="title">Новости
                            <span>и ход строительства</span></h2>
                    </div>
                </div>

                <div class="about-news">
                    <picture>
                        <img src="<%= require('./img/news-bg.jpg') %>" class="about-news__background" alt="">
                    </picture>

                    <div class="about-news__slider">
                        <div class="about-news__item">
                            <picture>
                                <img src="<%= require('./img/news01.jpg') %>" class="about-news__img" alt="news">
                            </picture>

                            <div class="about-news__description">
                                <p class="about-news__date">24 апреля 2020</p>
                                <p class="about-news__title">Заголовок новости может быть длинным</p>
                                <p class="about-news__text">Укажите дату и время в которое вам будет удобно принять наш звонок. Или оставьте это поле пустым и менеджер перезвонит
                                    вам в ближайшие минуты. Максим текста ну вот и...</p>
                                <a href="#" class="about-news__link">ДАЛЕЕ</a>
                            </div>
                        </div>

                        <div class="about-news__item">
                            <picture>
                                <img src="<%= require('./img/news02.jpg') %>" class="about-news__img" alt="news">
                            </picture>

                            <div class="about-news__description">
                                <p class="about-news__date">24 апреля 2020</p>
                                <p class="about-news__title">Заголовок новости может быть длинным</p>
                                <p class="about-news__text">Укажите дату и время в которое вам будет удобно принять наш звонок. Или оставьте это поле пустым и менеджер перезвонит
                                    вам в ближайшие минуты. Максим текста ну вот и...</p>
                                <a href="#" class="about-news__link">ДАЛЕЕ</a>
                            </div>
                        </div>

                        <div class="about-news__item">
                            <picture>
                                <img src="<%= require('./img/news03.jpg') %>" class="about-news__img" alt="news">
                            </picture>

                            <div class="about-news__description">
                                <p class="about-news__date">24 апреля 2020</p>
                                <p class="about-news__title">Заголовок новости может быть длинным</p>
                                <p class="about-news__text">Укажите дату и время в которое вам будет удобно принять наш звонок. Или оставьте это поле пустым и менеджер перезвонит
                                    вам в ближайшие минуты. Максим текста ну вот и...</p>
                                <a href="#" class="about-news__link">ДАЛЕЕ</a>
                            </div>
                        </div>

                        <div class="about-news__item">
                            <picture>
                                <img src="<%= require('./img/news01.jpg') %>" class="about-news__img" alt="news">
                            </picture>

                            <div class="about-news__description">
                                <p class="about-news__date">24 апреля 2020</p>
                                <p class="about-news__title">Заголовок новости может быть длинным</p>
                                <p class="about-news__text">Укажите дату и время в которое вам будет удобно принять наш звонок. Или оставьте это поле пустым и менеджер перезвонит
                                    вам в ближайшие минуты. Максим текста ну вот и...</p>
                                <a href="#" class="about-news__link">ДАЛЕЕ</a>
                            </div>
                        </div>

                        <div class="about-news__item">
                            <picture>
                                <img src="<%= require('./img/news02.jpg') %>" class="about-news__img" alt="news">
                            </picture>

                            <div class="about-news__description">
                                <p class="about-news__date">24 апреля 2020</p>
                                <p class="about-news__title">Заголовок новости может быть длинным</p>
                                <p class="about-news__text">Укажите дату и время в которое вам будет удобно принять наш звонок. Или оставьте это поле пустым и менеджер перезвонит
                                    вам в ближайшие минуты. Максим текста ну вот и...</p>
                                <a href="#" class="about-news__link">ДАЛЕЕ</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section service-section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="title">Обслуживание поселка</h2>
                    </div>
                </div>

                <div class="service-village">
                    <div class="service-village__indicators">
                        <div class="service-village__indicators-item">
                            <p class="service-village__indicators-value">24 / 7</p>
                            <p class="service-village__indicators-signature">охрана поселка</p>
                        </div>

                        <div class="service-village__indicators-item">
                            <p class="service-village__indicators-value">500+</p>
                            <p class="service-village__indicators-signature">объектов озеленения в год</p>
                        </div>

                        <div class="service-village__indicators-item">
                            <p class="service-village__indicators-value">2480</p>
                            <p class="service-village__indicators-signature">рублей/месяц стоимость обслуживания</p>
                        </div>
                    </div>

                    <div class="service-village__text-block">
                        <p class="service-village__signature">На территории коттеджного поселка «Николино Парк» функционирует обслуживающая организация ООО «Торговый Дом
                            Горизонт».</p>

                        <div class="service-village__goal">
                            <p class="service-village__goal-title">Основные задачи</p>

                            <ul class="service-village__goal-list">
                                <li>круглосуточная охрана, видеонаблюдение, контрольно-пропускной режим</li>
                                <li>обеспечение работы инженерных систем и коммуникаций</li>
                                <li>санитарная уборка территорий общего пользования, вывоз мусора</li>
                                <li>содержание дорог, благоустройство и озеленение территории</li>
                                <li>помощь жителям в решении бытовых и хозяйственных вопросов</li>
                            </ul>
                        </div>
                    </div>

                    <div class="service-village__slider">
                        <div class="service-village__slider-item">
                            <picture>
                                <img src="<%= require('./img/service01.png') %>" alt="service">
                            </picture>

                            <div class="service-village__slide-signature">
                                <p class="service-village__slide-title">Дом семьи Иванов</p>
                                <p class="service-village__slide-text">Николино Парк, 2015 год</p>
                            </div>
                        </div>

                        <div class="service-village__slider-item">
                            <picture>
                                <img src="<%= require('./img/service01.png') %>" alt="service">
                            </picture>

                            <div class="service-village__slide-signature">
                                <p class="service-village__slide-title">Дом семьи Иванов</p>
                                <p class="service-village__slide-text">Николино Парк, 2015 год</p>
                            </div>
                        </div>

                        <div class="service-village__slider-item">
                            <picture>
                                <img src="<%= require('./img/service01.png') %>" alt="service">
                            </picture>

                            <div class="service-village__slide-signature">
                                <p class="service-village__slide-title">Дом семьи Иванов</p>
                                <p class="service-village__slide-text">Николино Парк, 2015 год</p>
                            </div>
                        </div>

                        <div class="service-village__slider-item">
                            <picture>
                                <img src="<%= require('./img/service01.png') %>" alt="service">
                            </picture>

                            <div class="service-village__slide-signature">
                                <p class="service-village__slide-title">Дом семьи Иванов</p>
                                <p class="service-village__slide-text">Николино Парк, 2015 год</p>
                            </div>
                        </div>

                        <div class="service-village__slider-item">
                            <picture>
                                <img src="<%= require('./img/service01.png') %>" alt="service">
                            </picture>

                            <div class="service-village__slide-signature">
                                <p class="service-village__slide-title">Дом семьи Иванов</p>
                                <p class="service-village__slide-text">Николино Парк, 2015 год</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section callback-section">
            <div class="container">
                <div class="callback d-flex flex-wrap">
                    <picture>
                        <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/manager-img.png') %>" alt="manager">
                    </picture>

                    <p class="callback__title">На связи!</p>

                    <p class="callback__text">Ирина
                        <span>Менеджер
                            по продажам</span>
                    </p>

                    <form action="" method="" class="callback__form">
                        <button type="button" class="callback__form-switch">Выбрать время звонка</button>

                        <fieldset class="callback__form-hide hide">
                            <label>
                                <input type="text" class="input datepicker" placeholder="ДД.ММ.ГГГГ" readonly>
                                <svg>
                                    <use xlink:href="img/spritemap.svg#sprite-date"></use>
                                </svg>
                            </label>

                            <label>
                                <input type="time" class="input mask-time">
                            </label>

                            <label>
                                <select name="timezone" id="timezone" class="input-select">
                                    <option value="3">(GMT+3:00) Краснодар</option>
                                    <option value="2">(GMT+2:00) Краснодар</option>
                                    <option value="4">(GMT+4:00) Краснодар</option>
                                </select>
                            </label>
                        </fieldset>

                        <fieldset class="callback__form-visible d-inline-flex">
                            <label>
                                <input type="text" class="callback__form-phone input mask-phone" placeholder="+7">
                            </label>

                            <label>
                                <input type="checkbox">
                                <span class="callback__form-checkbox"></span>
                                <span>Согласие на обработку ПД</span>
                            </label>
                        </fieldset>

                        <button type="submit" class="callback__form-submit button button-primary">Перезвоните мне</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="section contact-section">
            <div class="container">
                <div class="contacts-block text-center">
                    <a href="tel:88001001343" class="contacts-block__number">8-800-100-13-43</a>

                    <div class="contacts-block__social">
                        <p class="contacts-block__social-text text-left">Много интересного
                            в наших соцсетях</p>

                        <div class="contacts-block__social-list">
                            <a href="#1" class="contacts-block__social-link" target="_blank">
                                <svg>
                                    <use xlink:href="img/spritemap.svg#sprite-vk"></use>
                                </svg>
                            </a>

                            <a href="#2" class="contacts-block__social-link" target="_blank">
                                <svg>
                                    <use xlink:href="img/spritemap.svg#sprite-fb"></use>
                                </svg>
                            </a>

                            <a href="#3" class="contacts-block__social-link" target="_blank">
                                <svg>
                                    <use xlink:href="img/spritemap.svg#sprite-ok"></use>
                                </svg>
                            </a>

                            <a href="#4" class="contacts-block__social-link" target="_blank">
                                <svg>
                                    <use xlink:href="img/spritemap.svg#sprite-inst"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- CONTENT END -->

    <!-- FOOTER -->
    <footer class="footer">
        <div class="container-fluid">
            <div class="row pt-lg-4">
                <div class="col-lg-2 pt-lg-2">
                    <a href="index.html" class="footer-logo">
                        <picture>
                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/logo-colorless.svg') %>" alt="loader" title="loader">
                        </picture>
                    </a>
                </div>

                <div class="col-lg-10 pt-lg-2">
                    <div class="row">
                        <div class="col-lg-9 order-lg-1 order-3">
                            <nav class="footer-info pb-lg-4 border-0">
                                <a href="about-us.html" class="footer-info__nav-link">О поселке</a>
                                <a href="#plan" class="footer-info__nav-link">Генплан</a>
                                <a href="houses.html" class="footer-info__nav-link">Дома</a>
                                <a href="#lands" class="footer-info__nav-link">Участки</a>
                                <a href="#infra" class="footer-info__nav-link">Инфраструктура</a>
                                <a href="feedback.html" class="footer-info__nav-link">Отзывы</a>
                                <a href="news.html" class="footer-info__nav-link">Ход строительства</a>
                                <a href="#docs" class="footer-info__nav-link">Документация</a>
                                <a href="#9" class="footer-info__nav-link">Варианты покупки</a>
                                <a href="contacts.html" class="footer-info__nav-link">Контакты</a>
                            </nav>

                            <div class="footer-info d-flex flex-wrap flex-column flex-sm-row">
                                <p class="footer-info__title w-100 mb-3 font-weight-bold text-uppercase">Офисы продаж</p>

                                <p class="footer-info__text">Краснодар ул. Сталинградская д.5
                                    <a href="tel:88001001343" class="footer-info__link d-inline-block font-weight-bold">8-800-100-13-43</a></p>

                                <p class="footer-info__text">Краснодар ул. Дорожная д. 12
                                    <a href="tel:88001001343" class="footer-info__link d-inline-block font-weight-bold">8-800-100-13-43</a></p>
                            </div>

                            <div class="footer-info d-flex flex-wrap flex-column flex-sm-row">
                                <p class="footer-info__title w-100 mb-3 font-weight-bold text-uppercase">Режим работы</p>

                                <p class="footer-info__text">Понедельник — Пятница
                                    <span>9:00 — 19:00</span></p>

                                <p class="footer-info__text">Суббота — Воскресенье
                                    <span>10:00 — 19:00</span></p>
                            </div>
                        </div>

                        <div class="col-lg-3 order-lg-2 order-2">
                            <div class="footer-callback d-flex flex-column flex-lg-row flex-wrap align-items-center align-items-lg-end pb-lg-2">
                                <a href="tel:88001001343" class="footer-callback__number">8-800-100-13-43</a>
                                <button type="button" class="footer-callback__modal-btn" data-toggle="modal" data-target="#callback">Заказать обратный звонок</button>
                            </div>

                            <div class="footer-info d-flex flex-column flex-wrap align-items-lg-end align-items-center pb-lg-2 text-right">
                                <a href="mailto:info@nikolino-park.ru" class="footer-info__contacts-link">info@nikolino-park.ru</a>
                                <a href="#privacy" class="footer-info__privacy">ФЗ о перcональных данных</a>
                            </div>

                            <div class="footer-social d-flex flex-wrap justify-content-xl-around justify-content-lg-between justify-content-around">
                                <a href="#1" class="footer-social__link" target="_blank">
                                    <svg>
                                        <use xlink:href="img/spritemap.svg#sprite-vk"></use>
                                    </svg>
                                </a>

                                <a href="#2" class="footer-social__link" target="_blank">
                                    <svg>
                                        <use xlink:href="img/spritemap.svg#sprite-fb"></use>
                                    </svg>
                                </a>

                                <a href="#3" class="footer-social__link" target="_blank">
                                    <svg>
                                        <use xlink:href="img/spritemap.svg#sprite-ok"></use>
                                    </svg>
                                </a>

                                <a href="#4" class="footer-social__link" target="_blank">
                                    <svg>
                                        <use xlink:href="img/spritemap.svg#sprite-inst"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>

                        <div class="col-12 order-lg-3 order-1">
                            <p class="copyright">2020 © ООО «Николино Парк» <span class="copyright__designer float-lg-right">Дизайн — <a href="#" target="_blank">Карачинский</a></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- FOOTER END -->
</div>

<div class="modal fade" id="callback" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="callback d-flex flex-wrap">
                    <picture>
                        <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/manager-img.png') %>" alt="manager">
                    </picture>

                    <p class="callback__title">На связи!</p>

                    <p class="callback__text">Ирина
                        <span>Менеджер
                            по продажам</span>
                    </p>

                    <form action="" method="" class="callback__form">
                        <button type="button" class="callback__form-switch">Выбрать время звонка</button>

                        <fieldset class="callback__form-hide hide">
                            <label>
                                <input type="text" class="input datepicker" placeholder="ДД.ММ.ГГГГ" readonly>
                                <svg>
                                    <use xlink:href="img/spritemap.svg#sprite-date"></use>
                                </svg>
                            </label>

                            <label>
                                <input type="time" class="input mask-time">
                            </label>

                            <label>
                                <select name="timezone" id="timezone" class="input-select">
                                    <option value="3">(GMT+3:00) Краснодар</option>
                                    <option value="2">(GMT+2:00) Краснодар</option>
                                    <option value="4">(GMT+4:00) Краснодар</option>
                                </select>
                            </label>
                        </fieldset>

                        <fieldset class="callback__form-visible d-inline-flex">
                            <label>
                                <input type="text" class="callback__form-phone input mask-phone" placeholder="+7">
                            </label>

                            <label>
                                <input type="checkbox">
                                <span class="callback__form-checkbox"></span>
                                <span>Согласие на обработку ПД</span>
                            </label>
                        </fieldset>

                        <button type="submit" class="callback__form-submit button button-primary">Перезвоните мне</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="icon-load"></div>
<button class="scroll-top">Вверх
    <span class="scroll-top__background"></span>
</button>
<!-- BODY END   -->

</body>
</html>
