<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, shrink-to-fit=no">
    <title>Главная</title>
</head>

<body class="loaded">

<!-- BODY -->
<div class="main-wrapper">
    <!-- HEADER -->
    <header class="header">
        <div class="container bg-light">
            <h1 class="m-0">Header Title</h1>
        </div>
    </header>
    <!-- HEADER END -->

    <!-- CONTENT -->
    <main class="content">

        <div class="section">
            <div class="container bg-dark">
                <h2 class="title m-0">Section Title</h2>
            </div>
        </div>

        <picture>
            <img src="<%= require('./img/loader.svg') %>" data-src="<%= require('./img/loader.svg') %>" alt="loader" title="loader">
        </picture>

        <svg>
            <use xlink:href="img/spritemap.svg#sprite-loader"></use>
        </svg>

    </main>
    <!-- CONTENT END -->

    <!-- FOOTER -->
    <footer class="footer">
        <div class="container bg-info">
            <h3 class="m-0">Footer Title</h3>
        </div>
    </footer>
    <!-- FOOTER END -->
</div>

<div class="icon-load"></div>
<!-- BODY END   -->

</body>
</html>
