@import 'partials/fonts';
@import 'partials/variables';

/* Bootstrap */
//require
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
//optional
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/card";
//@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/utilities/text";

//plugins
@import "~slick-carousel/slick/slick";
@import "~nouislider/distribute/nouislider.min.css";
@import "~jquery-ui/themes/base/base.css";

/* Project style */
//partials
@import 'partials/reset';
@import 'partials/mixins';
@import 'partials/utilits';

//layout
@import 'layout/header';
@import 'layout/content';
@import 'layout/footer';
@import 'layout/media';